[2021-08-28 22:59] HarelM opened #267 "[Typescript] See if we can improve typing for pattern_bucket_features.ts"
The following code might benefit from some interface inheritance, I'm not sure...
`const patternProperty = (layer.paint  as PossiblyEvaluated<any, any>).get(`${type}-pattern`);`

[2021-08-29 05:32] HarelM commented on #116
I think this is a great idea. I know that our style is probably too complicated to be rendered fast, and it won't show up while animating the flyto, but it would be great to prioritize the final tiles at the destination. For us at least...

[2021-08-29 07:12] HarelM opened #268 "[Typescript] reduce `| undefined | null` in the code"
`flowts` has migrate the code from flow to typescript.
in flow there was a definition like the following:
`parameter: ?some-type` which was translated to `pamaterer: sometype | undefined | null`.
I think in most cases the code should simply be: `parameter?: sometype`.
But there's a need to go over the code and check case by case.
Related to #209 code review comments.

[2021-08-29 07:51] HarelM opened #270 "[Typescript] Update dependencies"
In order to make sure this library is up-to-date we should upgrade dependencies once the typescript branch makes its way to main in order to make sure we don't have any security issues and deprecation stuff.

[2021-08-29 07:54] HarelM opened #271 "[Typescript] Rename declarations only files to `d.ts`"
A spin-off of #209 - In order to identify files that contain only definitions the best practice it to change their extension to `.d.ts`

[2021-08-29 07:57] HarelM opened #272 "[Typescript] Add more folders to lint"
While doing the typescript migration I have removed some of the folders that had lint and updated the lint version.
When I tried to bring it back there were some errors that I couldn't easily fix so I'm opening this issue to make sure we don't forget this.
To run lint on all folders use the following command in package.json:
`"lint": "eslint --ext \".ts,.js,.html\" --ignore-path .gitignore src bui

[2021-08-29 08:02] HarelM opened #273 "[Typescript] Convert tests to jest and karma"
Current tests are using `tap` and `testem` which are not commonly used test runners.
We should use the industry standard in order to make sure we don't get stuck in an old version that doesn't support changes.
This applies to node running tests such as `test-unit`, `test-build`, `test-query`.
This also applies to browser tests such as `test-query`.
This is a big task, so I decided not to do it as

[2021-08-29 09:04] AbelVM commented on #251
I have mixed feelings about this. Of course it's the right move to reuse some validated package, but, on the other hand, adding a dependency that just add a couple of lines of code for a well known algorithm... :thinking:

[2021-08-29 09:17] AbelVM commented on #116
#### First swerve: moving form `precaching` (service workers) to `preloading` (web workers).

We don't need to manage the cache life-cycle of the tiles to be used during and at the end of the camera movement, we just need to preload them fast enough for them to be locally available when requested by the camera logic.

This change:
* Avoids the need for an external, physical, file for the service w

[2021-08-29 10:37] wipfli opened #275 "[Typescript]: Test publish style-spec"
After typescript gets merged, we should test `publish-style-spec.yml` with a release candidate for example.

[2021-08-29 12:04] chippieTV commented on #270
WIP PR https://github.com/maplibre/maplibre-gl-js/pull/276

[2021-08-29 12:42] HarelM commented on #220
Any updates on this? Can I close this issue?

[2021-08-29 17:20] wipfli commented on #270
Once we have manually updated the dependencies I would be happy to implement weekly dependabot pull requests that keep all dependencies up-to-date.

[2021-08-29 18:04] AbelVM commented on #116
### News!
* Instead of messing with the library code, I've built a tiny plugin for this functionality. It adds `cached` versions of `panTo`, `zoomTo`, `jumpTo`, `easeTo` and `flyTo`. Just 7.7KB once bundled :nerd_face:
* The logic might be implemented within MapLibre, but it might be somehow... dirty, IMHO.
* Web workers fulfill our needs, no need to drive us crazy with service workers and the imp

[2021-08-29 18:28] HarelM commented on #116
Nice work! I would be interested to know more about this.
If there was a flag in maplibre to enable this it might be useful to others, in an opt-in mode...?
I don't know. In any case, if you decide to send a PR please do it over the typescript branch in order to avoid conflicts...

[2021-08-30 10:57] andreapernici opened #277 "Code Splitting based on functionality used"
## Motivation

Considering the growing importance of speed and the upcoming Core Web Vitals metric usage in Google could be a good idea to let developers include only needed features in the js bundle reducing a lot the weight of it in most of the cases.

## Design Alternatives

Code splitting.

-------------

Something similar to this https://twitter.com/Firebase/status/1430586974318989315

[2021-08-30 11:04] HarelM commented on #277
We are in the final stages of migrating to typescript so this might be better handled going forward.
Having said that, I'm not sure how to push such an effort.
If you would like to push this forward feel free. I world suggest to start with a design document to present the required changes.
 Good luck :-)

[2021-08-30 15:22] drwestco opened #279 "TypeScript: Use 'typeof' to refer to class contructors"
In the TypeScript conversion, the following substitution was made:

    constructor(LayoutArray: Class<StructArray>,
    constructor(LayoutArray: {
      new (...args: any): StructArray
    },

Pretty sure the 'new' syntax can be simplified to:

    constructor(LayoutArray: typeof StructArray,

_Originally posted by @drwestco in https://github.com/maplibre/maplibre-gl-js/pull/209#discussion_r69852

[2021-08-30 15:25] drwestco opened #280 "TypeScript: Enforce consistent member delimeters"
Turn on member-delimiter-style rule to enforce consistent use of TypeScript-preferred semicolon member delimeters:

https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/member-delimiter-style.md

_Originally posted by @drwestco in https://github.com/maplibre/maplibre-gl-js/pull/209#discussion_r698518951_

[2021-08-30 15:30] drwestco opened #281 "TypeScript: Simplify type signature for uninitialized variables"
TypeScript conversion created this awkward syntax:

From:
`    let nextNormal = ((undefined: any): Point);`

To:
`    let prevVertex = undefined as Point;`

This reads better as:
`    let prevVertex: Point = undefined;`

Or just:
`    let prevVertex: Point;`

Search for the `undefined as xxx` or `null as xxx` pattern to find and fix any similar awkward initializations.

_Originally posted by @drwe

[2021-08-30 21:08] AbelVM commented on #116
So, that's it :nerd_face:  I have a tiny experimental plugin for tiles preloading at

https://github.com/AbelVM/maplibre-preload

Please read the `caveats and final thoughts` as this is not a golden hammer (definitely not to be included in the main lib, IMHO)

[2021-08-30 23:28] drwestco commented on #264
Just a typo? CompositeExpression has an interpolationType property, without the leading underscore.

[2021-08-31 05:42] HarelM commented on #264
It might be a typo, but does this mean that currently this gets `undefined`? If so can't we simply pass undefined?
https://github.com/maplibre/maplibre-gl-js/blob/84f118deaa8a52a671db75ec6730abcace7742fd/src/style/style_layer/symbol_style_layer.ts#L129

[2021-08-31 15:13] drwestco commented on #264
Yeah, to preserve current behavior, it's always undefined. Just wondering if there's some intended functionality that's been missing since this typo was introduced.

[2021-08-31 16:09] wipfli commented on #258
Closed by #285

[2021-08-31 16:09] #258 closed

[2021-08-31 19:28] wipfli commented on #261
Seems up for discussion. Thanks Derek for pointing to this question: https://stackoverflow.com/questions/54100025/difference-between-index-signature-and-record-for-empty-object

[2021-08-31 19:28] drwestco commented on #279
Existing syntax (with `new (...args: any)` may be correct, though there's room for improved readability here.
See also first answer at https://stackoverflow.com/questions/13407036/how-does-interfaces-with-construct-signatures-work

[2021-08-31 19:47] wipfli opened #288 "Breaking changes v2.0.0"
Version 2.0.0 of this library is coming soon. The migration to Typescript removes support for internet explorer and the public API does not expose the version anymore. See `CHANGELOG.md` of the `typescript` branch.

Breaking changes that most likely will follow are:

* Removal of `accessToken` support
* Removal of the Mapbox CSS classes

[2021-08-31 19:50] HarelM commented on #288
This is a great heads up! But shouldn't it be a discussion and not an issue?

[2021-08-31 20:04] wipfli commented on #288
https://github.com/maplibre/maplibre-gl-js/discussions/290

[2021-08-31 20:04] #288 closed

[2021-09-01 21:03] HarelM commented on #216
I've changed the name of this issue to better define the requirements.
I'll be addressing this in my next PR.

[2021-09-02 01:55] stevage commented on #216
Wait, I don't really understand the rationale for removing `accessToken`. This means that any `mapbox://` URLs stop working? And the only way to use Mapbox styles is to manually embed the access token in a full url, sometihng like:

[code]

is that right? Why is this necessary?

[2021-09-02 04:22] HarelM commented on #216
There are two aspects of this PR:
1. Telemetry - current library before this change sends usage statistics to mapbox. I don't think I need to clarify how wrong that is.
2. Usage of mapbox API and data with a token - if you are using mapbox data you should use their product and pay them, they deserve it for their hard work, also see #41 for info on why. I'll continue this thread in the breaking cha

[2021-09-02 05:13] stevage commented on #216
Yeah, of course getting rid of the Mapbox telemetry code.

(I don't think you need my permission to continue a discussion elsewhere, feel free...)

[2021-09-02 05:29] HarelM commented on #216
I'm just being polite :-) The relevant discussion can be seen here: https://github.com/maplibre/maplibre-gl-js/discussions/290

[2021-09-03 05:21] HarelM opened #296 "CI: Break script into separate files to allow retry of a single one"
## Motivation

When CI fails due to environment issues we would like to be able to retry only a single job/step and not wait for the entire
run to finish.
Unfortunately this is not possible due to github actions limitations.
This is described here:
https://github.com/actions/runner/issues/432#issuecomment-834271999
One of the solution suggested there is to split the ci.yaml file to multiple files

[2021-09-03 06:02] chippieTV commented on #270
#276 was closed, the approach was bad, there is a new branch that is passing but not complete yet, identifying which libraries break where..

It was just automatically closed by merge and delete the typescript branch, so I will recreate the PR and point to main instead.

For reference here is the old closed PR

https://github.com/maplibre/maplibre-gl-js/pull/295

[2021-09-03 09:06] HarelM commented on #281
Closed as part of #209

[2021-09-03 09:06] #281 closed

[2021-09-03 09:13] HarelM commented on #280
This was fixed as part of #209.

[2021-09-03 09:13] #280 closed

[2021-09-03 10:09] #206 closed

[2021-09-03 21:53] drwestco opened #303 "Delay-loaded images may trigger warning about mismatched SDF property"
**maplibre-gl-js version**: some

**browser**: all

### Steps to Trigger Behavior

MVT sprite data with one or more images not specifying the SDF property. SDF is left as undefined, treated the same as 'false'. https://maplibre.org/maplibre-gl-js-docs/style-spec/sprite/

MVT tile with one or more symbols referring to a delay-loaded image ID. In code, respond to `styleimagemissing` event, and injec

[2021-09-04 05:05] #216 closed

[2021-09-04 05:08] #303 closed

[2021-09-04 05:26] chippieTV opened #305 "Latest main (Typescript) has some regressions in Firefox"
**maplibre-gl-js version**:
current main tagged as v2.0.0-pre.1

**browser**:
Firefox 91.0 MacOS 10.15.7 Catalina
node 14.17.5
npm 6.14.14

### Steps to Trigger Behavior
If you run `npm run start-tests` and connect Firefox, 3 tests fail. They all pass in Chrome. I checked out `1.15.2` and ran them, and Firefox passes. CI does not complain about this.

failed query-tests/regressions/mapbox-gl-js[#5

[2021-09-04 08:20] chippieTV commented on #270
for reference new updated PR https://github.com/maplibre/maplibre-gl-js/pull/304 pointing to main branch

[2021-09-04 09:45] #270 closed

[2021-09-04 10:27] astridx commented on #305
I just wanted to test https://github.com/maplibre/maplibre-gl-compare with typescript and also encountered error messages in the console in Firefox. In Chrome everything is fine.

You can check it fine version here https://astridx.github.io/maplibreexamples/plugins/maplibre-gl-compare-swipe-between-maps_.html with the header:

[code]

Everything is fine:
![ok](https://user-images.githubusercontent

[2021-09-04 10:33] HarelM commented on #305
Interesting, I did some changes related to of screen canvas in the typescript branch which might cause this.
Feel free to investigate this.
If you mange to add a test that will reproduce this it will be great (browser tests).

[2021-09-04 10:41] astridx commented on #305
Some more examples.

- No effect is visible here. But I see the error messages in the development tools:

maplibre-gl@1.14.0-rc.1
https://astridx.github.io/maplibreexamples/plugins/maplibre-gl-directions_.html
maplibre-gl@2.0.0-pre.1:
https://astridx.github.io/maplibreexamples/plugins/maplibre-gl-directions.html

- Here again the satellite view is not ok:

maplibre-gl@1.14.0-rc.1
https://astridx.g

[2021-09-04 11:26] wipfli commented on #305
Thanks for this Astrid. I am wondering in general how much plugins access private implementation details. Was the practice that plugins use only the public API or were shortcuts tolerated?

[2021-09-04 11:43] astridx commented on #305
I don't think a plugin is the problem in this case. I see error messages here too - here is no plugin involved:

maplibre-gl@2.0.0-pre.1:
https://astridx.github.io/maplibreexamples/quickstart.html

maplibre-gl@1.14.0-rc.1 is fine:
https://astridx.github.io/maplibreexamples/quickstart_.html

I am relatively sure that I did not notice any such error message in the browser console during this test in

[2021-09-04 12:27] Gustavo22Soaresh opened #307 "Globe view - Earth is not flat"
## Motivation
Hello, I think it would be interesting when zooming out instead of duplicating the merchant projection it would be nice to show the view of the entire globe, similar to google earth and the new Apple Maps

## Design Alternatives

[![i-OS-15-Maps-Feature.jpg](https://i.postimg.cc/FHzQmVnq/i-OS-15-Maps-Feature.jpg)](https://postimg.cc/3dsqFmhC)
[![globe-view.png](https://i.postimg.cc/d

[2021-09-04 12:32] HarelM commented on #307
I think this would be great, but I don't have the slightest clue how to implement this.
Your best approach would be to submit a PR after implementing this. I also think this should be configurable for people that wouldn't want this...
Also there's a need to make sure this does not cause performance issues in terms of fetching too many tiles...
But, sure, this feature would be very nice to have :-)

[2021-09-04 12:44] wipfli commented on #307
Happy to review pull requests on this too. Here is a link that @klokan gave me:

https://observablehq.com/@fil/webmercator-to-globe?collection=@fil/glsl-projections

[2021-09-04 18:51] HarelM commented on #305
I see the error in the console but I don't get a white map like you do.
I'll push a fix and a PR now so you can see if it solved your issue or not.

[2021-09-04 20:28] #305 closed

[2021-09-04 20:35] wipfli commented on #261
I see no immediate nor long-term benefit of replacing index signatures with records. If you disagree, feel free to reopen and comment.

[2021-09-04 20:35] #261 closed

[2021-09-04 20:55] wipfli commented on #275
Seems like publishing worked: https://www.npmjs.com/package/@maplibre/maplibre-gl-style-spec

[2021-09-04 20:55] wipfli commented on #275
Is this now a pre-release or just a normal release? Does NPM even have the notion of pre-releases?

[2021-09-04 20:56] #256 closed

[2021-09-04 21:00] HarelM commented on #275
I don't know. Good question. I think that people know they shouldn't use rc.1 if they want something stable, right...?

[2021-09-05 08:22] astridx commented on #305
Because we closed the issue so quickly yesterday, I would like to ask again just to be sure: The tests (regressions ) are now also ok for you  @chippieTV in Firefox, right?

I now have a different error message,:

![0](https://user-images.githubusercontent.com/9974686/132120325-6dc07384-aef3-4f4c-9914-670117030079.PNG)

This is certainly related to the fact that I can no longer rebuild the tape.js

[2021-09-05 10:52] HarelM commented on #305
Feel free to reopen, if Firefox console has some errors please share them.
I'm not sure I fully get the current status so please elaborate.
If you manage to find the issue and fix it, even better :-)

[2021-09-05 13:08] wipfli commented on #132
Problem with the release workflow: https://github.com/maplibre/maplibre-gl-js/runs/3514866759?check_suite_focus=true

[code]

[2021-09-05 13:29] wipfli commented on #132
Release still fails. @HarelM can you have a look at the error message. @msbarry can you remind me why release runs on windows?

[2021-09-05 13:33] HarelM commented on #132
The problem is with the ' around the file name in lint-css when running on Windows.
Removing it solves the issue, haven't tried it on mac or linux yet...

[2021-09-05 13:40] msbarry commented on #132
Looks like that was added by @petr-pokorny-1  in https://github.com/maplibre/maplibre-gl-js/pull/95 "First jobs perform tests. It runs on Windows runner since Linux runners don't have GPU, which is required by many tests. Second job runs on Linux and creates builds minified library, creates github release, uploads release assets, updates version in npm package and submits package in the npm regist

[2021-09-05 14:02] chippieTV commented on #305
hi, tested with `npm run start-tests` I'm getting all 127 passing as above in chrome and FF... so thanks for the fix!

@astridx are you still getting errors with `npm run test-build`? I just tried and got 57 passed

[2021-09-05 14:20] wipfli commented on #132
Thanks for the explanation @msbarry.

I think it is a real problem that we have different CI strategies for `lint, build, test` and for `lint, build, test, release`. Release should use the exact same steps as the normal CI does which we run against all pull requests and pushes to main. Let me know if there are constraints which made you choose a different approach in the past.

[2021-09-05 14:37] msbarry commented on #132
Definitely agree @wipfli - I set up the ci and analyze workflows not the release one. I seem to remember it was tricky to factor out common reused steps. Another option might be to chain them, so you can trigger a release workflow off of a successful build?

[2021-09-05 15:04] HarelM commented on #132
I opened another issue on it - to split the steps to different yml files, after that you can define the triggers for each yml file I guess, maybe...

[2021-09-05 17:15] Malvoz commented on #307
I'm not sure if/how relevant this MapBox GL JS issue is: https://github.com/mapbox/mapbox-gl-js/issues/10784, perhaps informative if anything?

[2021-09-05 17:41] HarelM commented on #307
Well, looks like someone from mapbox is coding it so we can't use it sure to licencing issues.
By the amount of corner cases that this thread is talking about it seems like a huge effort, but if you are up for the challenge, why not? :-)

[2021-09-06 07:01] astridx commented on #273
Does any one work on this?

[2021-09-06 07:19] HarelM commented on #273
I'm not aware of anyone currently working on this.
From an architecture point if view I think the best approach would be to place the unit test files next to their source file and to covert the test to typescript and jest.
This is a big task but super interesting :-)
If you create a branch for this other might be able to help.
Note that converting the tests to typescript might mean some tests are

[2021-09-06 12:54] fredj commented on #265
can be closed, fixed with #294

[2021-09-06 13:33] #265 closed

[2021-09-06 13:36] HarelM commented on #60
Probably not relevant any more, typings is generated from typescript code.

[2021-09-06 13:36] #60 closed

[2021-09-06 13:42] HarelM commented on #32
Merged.

[2021-09-06 13:42] #32 closed

[2021-09-06 16:47] wipfli commented on #307
@Malvoz thanks for posting the related Mapbox link here. If someone is going to implement this feature in MapLibre GL JS you could maybe act as a referee who makes sure that we don't copy-paste their proprietory code.

[2021-09-07 17:47] wipfli commented on #296
The place to start this clean-up is `package.json`. We have the following scripts at the moment:

[code]

What can we delete here? Where does it make sense to regroup tasks?

[2021-09-07 17:50] wipfli commented on #296
The we could shorten things in `release.yml` like

[code]

to ```npm run-p lint test```

[2021-09-07 18:04] wipfli commented on #296
https://github.com/maplibre/maplibre-gl-js/pull/321

[2021-09-07 18:32] wipfli commented on #273
If I understood the Slack discussion correctly it might actually be an option to convert all tests to karma exclusively, right @webberig?

[2021-09-07 18:55] HarelM commented on #296
Actually shortening the steps will not allow to split and rerun only a single step, I think.
Also I think the watch scripts are broken, we should either fix then or remove them...

[2021-09-07 18:58] wipfli commented on #275
One needs to run for example `npm publish --tag next` if one wants to avoid the new version being tagged as `latest`.

[2021-09-07 18:58] #275 closed

[2021-09-07 19:01] wipfli commented on #273
There are 197 files in `test/unit`. Do you think this would be a good starting point for migrating the tests from tap to jest? It would be useful if we could do this migration with many smaller pull requests ideally to the main branch. Do you think it is possible to run two test frameworks in parallel for a limited amount of time?

[2021-09-07 19:45] HarelM commented on #273
I think there shouldn't be a problem to run some test using one framework and other using another framework.
We can move the tests that we convert to be next to the file they test so that way a certain framework will look for the file in `src` and not in `test` and thus achieving this requirement.
I would advise to start with something small, POC if you'd like, and then decide on the next steps.
B

[2021-09-09 08:24] thejimmyg opened #324 "Regression in safari on Observable HQ in maplibre-gl@2.0.0-pre.1 ReferenceError: Can't find variable: ImageBitmap"
**maplibre-gl-js version**:

maplibre-gl@2.0.0-pre.1

**browser**:

Safari

### Steps to Trigger Behavior

 1. Visit https://observablehq.com/@jimmyg/gmaplibre-regression in the Safari browser
 2. You'll see `ReferenceError: Can't find variable: ImageBitmap`
 3. If you change the import at the top to `maplibregl = await require("maplibre-gl@1.15.2")` it works fine

When inspecting the debug consol

[2021-09-09 08:30] HarelM commented on #324
This is a great input! Thanks for reporting this!
Can you share a bit more about the env?
Which safari version? Which OS and version?
I will look into it soon I hope.
Can I count on you to retest it once I release a fix?

[2021-09-09 08:44] astridx commented on #305
Only for the record: I have just re-installed everything and now `npm run test-build` is fine and all 127 tests in the Firefox browser run via `npm run start-tests` without errors under Ubuntu.

[code]

![000](https://user-images.githubusercontent.com/9974686/132653491-ce3e060b-b915-4cf8-95bc-8853a7b11b57.PNG)

[2021-09-09 08:47] thejimmyg commented on #324
Thanks @HarelM

Sorry for not adding these full details originally.

Safari Version 14.1.2 (16611.3.10.1.3) on macOS 11.5 (20G71) - the latest versions of both.

The same thing happens on Safari on mobile, using the latest version on iOS 14.7.1 but is resolved if you switch to maplibre-gl-js version 1.15.2, just as on Desktop.

Yes, of course, happy to re-test once you've made a release.

Thank yo

[2021-09-09 09:42] HarelM commented on #324
@thejimmyg Feel free to review my changes at #325.
I opened the safari in the debug page and saw that I don't get any errors, but I'm not sure it fully checks this issue.
Let me know if you need me to release a new prerelease for you to test this or if you can test this straight from the repo.
In any case thanks a lot for testing this! It will allow us to make sure the version we ultimately releas

[2021-09-09 09:57] thejimmyg commented on #324
Thank you for being so quick. Yes, I'll review your changes after reading the typescript link in your PR. I'll also make a build and then try to find a way to get Observable to load it so that I can make an end to end test. That might take a little while, but I'll do my best.

[2021-09-09 10:37] thejimmyg commented on #324
I've done the following:

[code]

Then in both:

[code]

Then I've created two example HTML pages like this, each referencing one of the repos:

[code]

The one referencing current `main` fails with the same error:

[code]

The one with your pull request works great:

<img width="948" alt="Screenshot 2021-09-09 at 11 31 42" src="https://user-images.githubusercontent.com/287936/132670604-2d49de99-5

[2021-09-09 11:20] thejimmyg commented on #324
Update @HarelM: I've found a way to test in Observable HQ by creating a workbook that allows you to upload the `.js` file to require, as described here:

    https://observablehq.com/@observablehq/require

Using this method I've created a new example here:

    https://observablehq.com/@jimmyg/gmaplibre-regression-325

By uploading the code built from #325 as described above, you can see that your

[2021-09-09 17:00] wipfli opened #326 "`test-render` fails since migration to typescript"
**maplibre-gl-js version**:

lastest

**browser**:

### Steps to Trigger Behavior

 1. `npm ci`
 2. `npm run build-dev`
 3. `npm run test-render` on windows or macos

### Link to Demonstration

https://github.com/maplibre/maplibre-gl-js/pull/321/checks?check_run_id=3558826291

### Expected Behavior

Test passes

### Actual Behavior

[code]

Maybe this is a code block in `suite_implementation.js` w

[2021-09-09 17:01] wipfli commented on #326
https://github.com/maplibre/maplibre-gl-js/blob/75cddd8e1f8f340b0a589378095b8e6399f364ea/test/suite_implementation.js#L158-L164

[2021-09-09 17:43] HarelM commented on #326
I removed some of the "now" references. How come this started to fail when ci was green the entire time? Race condition?

[2021-09-09 18:07] wipfli commented on #326
I think `test-render` was never run on macos before. We only run it on windows here:

https://github.com/maplibre/maplibre-gl-js/blob/75cddd8e1f8f340b0a589378095b8e6399f364ea/.github/workflows/release.yml#L55

This does not explain however why this did not fail before on windows.

[2021-09-09 20:45] HarelM commented on #326
Weird... Let me know if you need my help trying to solve this...

[2021-09-10 14:44] HarelM opened #329 "Improve browser tests coverage for super basic scenarios"
## Motivation
I'm not sure right now is the right time but rather after #273 but after #325 and #324 it seems that the browser test are not fully covering the most basic scenarios in terms of console error catching, so we need to either add test now to check that the console doesn't have any errors or make sure we do it later on in the next framework we move to.
I'm just not sure how to do it now

[2021-09-10 19:02] #324 closed

[2021-09-10 20:50] wipfli commented on #329
Thanks for opening this issue. I also wonder how people do automated tests on mobile browsers.

[2021-09-10 22:40] majdal commented on #220
Hi Harel - Please don't close the issue. I'll update the example ASAP.

On Sun, 29 Aug 2021 at 08:42, Harel M ***@***.***> wrote:

[2021-09-11 13:15] astridx commented on #273
Was it decided whether to use jest or karma?

[2021-09-11 13:41] HarelM commented on #273
I don't think we came to a conclusion.
Karma seems more appropriate to do the job but it might be harder to setup etc.
I recommend doing a proof of concept and understating which is faster to implement or which is better in terms of less mocks... I don't know...
But the main point is to start small and then decide...

[2021-09-11 14:01] HarelM commented on #251
It seems that this method is only used in tests so I'll simply remove it...

[2021-09-11 16:36] wipfli commented on #273
I always get this feeling that we found an acient city that people have built in the past but now they are not there anymore an we try to understand why they did things the way they did them.

The number of render and query tests is really impressive and I am super glad that migrating them will probably only mean editing one or two files. When it comes to unit tests it looks like there is more han

[2021-09-11 16:47] wipfli commented on #273
Regarding frameworks I would tend to jest at the moment. A good starting point could be to migrate a single unit test from tap to jest and add a script to package.json to run jest and tap side by side. Would be nice because we could merge to the main branch.

[2021-09-11 19:15] HarelM commented on #273
This is spot on! :-)

[2021-09-11 19:51] astridx commented on #273
Do you mean something like here: https://github.com/maplibre/maplibre-gl-js/pull/331

[2021-09-11 20:32] HarelM commented on #273
I've added my remarks there. It would be better if you describe what you did and what you plan to do so we can have a better understanding of the big picture.
Thanks!!

[2021-09-12 11:18] HarelM opened #333 "Make all `_` fields private"
## Motivation

The motivation is to properly define all methods and members of classes with their appropriate modifier (public, private mainly).
This is a big challenge that requires a lot of work.
Having said that, doing it for `_` prefixed fields and methods should be relatively simple and an easy win.

[2021-09-12 14:16] #268 closed

[2021-09-12 17:06] cwoodward10 opened #334 "2.0.0-pre.1 - require() of es modules is not supported."
Hello, first time doing this so correct me if I'm doing this in the wrong place but when I installed one of the later versions of MapLibre, the "2.0.0-pre.1" version, I got this error:

`Must use import to load ES Module: [my-app-path]\node_modules\maplibre-gl\dist\maplibre-gl.js
require() of ES modules is not supported.
require() of [my-app-path]\node_modules\maplibre-gl\dist\maplibre-gl.js from

[2021-09-12 17:55] HarelM commented on #334
We have moved to use node 14 and type module in package.jdon to be able to use new technologies and language capabilities, I think you can do the same, can't you?
Can you share your usage call?

[2021-09-13 04:27] cwoodward10 commented on #334
Oh I see. I'm in Node 14.15.3 and my package.json has type: module in it.

I'm calling it with this:
`<script lang="ts">
    import 'mapbox-gl/dist/mapbox-gl.css';
    import maplibregl from 'maplibre-gl';
    import { onMount } from 'svelte';
    onMount(() => {
        var map = new maplibregl.Map({
            accessToken: "",
            container: 'map',
            style: 'https://api.maptil

[2021-09-13 09:15] HarelM commented on #334
If you are doing an `import maplibregl from 'maplibre-gl'` then where is this `require()` error is coming from?
I think you might need to open a ticket for serletkit as I'm not sure how they are doing the import behind the scenes...
It's extremely hard to help without seeing any code and understanding the bigger picture.
If you could share a jsbin, stackblitz, or anything like that it would help..

[2021-09-13 14:22] cwoodward10 commented on #334
Ok sounds good. I can look into jsbin and stackblitz as well as post on SvelteKit.

But yes, that was the root of the problem as I could not for the life of me figure out why it was throwing out and error for a require() when I was using import. The weird thing was that there was no errors for Mapbox either. So it seemed to be just that one version of MapLibre which is why I posted here.

[2021-09-13 14:45] HarelM commented on #334
There might be a problem with that version, we did some breaking changes, this is why it's version 2.0 but I don't know what exactly can cause this. We did remove support for IE which might cause this issue, I'm not sure...

[2021-09-13 15:41] drwestco commented on #249
I think I see what's going on here, and it applies to icon-allow-overlap as well as text-allow-overlap. Symbols in layers are placed front-to-back. If a foreground layer has (text|icon)-allow-overlap:false, its symbols will be placed first. If a background symbol layer then has (text|icon)-allow-overlap:true, its symbols will be allowed to overlap the already-placed foreground symbols; a backgroun

[2021-09-15 04:28] haiduong87 opened #337 "Can't capture attribution by using "map.getCanvas().toDataURL()""
**maplibre-gl-js version**: 1.15.2

### Question
HI maplibre,

I have a task to capture high dpi map, and this is what I'm doing:
- Increase dpi
- Call map.resize();
- Wait for the resizing -> I choose to use "idle" event
- Capture the new map

Here's the code:

`

            map.on('idle', function() {
                    console.log('A idle event occurred.');
             });

            funct

[2021-09-15 05:51] naogify opened #338 "Part of the text in the popup is hidden by focus of close button."
## Motivation

When I set a popup on a marker and click on it, the focus is on the close button (x) and part of the text in the popup is hidden. This happens only when you click on the marker for the first time.

https://user-images.githubusercontent.com/8760841/133375189-6e17a229-41c7-4e03-a493-4ab5da528463.mov

### Demo on CodePen
https://codepen.io/naogify/pen/VwWMBJb

## Design Alternatives

I

[2021-09-15 10:07] HarelM commented on #338
This is interesting... I don't see this behavior in my site, but I'm using ngx-maplibre-gl as a wrapper around maplibre which might did this under the hood.
I think we can change the default as part of 2.0 breaking changes.
Changing padding is less ideal from my point of view too...
@wipfli what do you think?

[2021-09-15 10:09] HarelM commented on #337
Latest version has a render synchronous call. Can you test that?

[2021-09-15 12:39] wipfli commented on #338
Changing the default to `false` is fine for me.

[2021-09-15 15:38] haiduong87 commented on #337
Hi @HarelM,

I tried this https://github.com/maplibre/maplibre-gl-js/blob/main/src/ui/map.ts#L2614 (v2.0.0-pre.3)

- It does not resize the map.
- Can't capture attribution

[2021-09-15 15:57] HarelM commented on #337
I'm not sure why the attribution is missing, your best bet is to debug and send a PR with the fix...

[2021-09-15 15:59] haiduong87 commented on #337
Hi @HarelM,

Sorry for a misleading issue.
My problem is not about the "idle" event, actually this line is the problem

`var img = map.getCanvas().toDataURL("image/png");`

We just can't get the attribution with this line.

I have no idea too.

I will try to debug.

Thanks

[2021-09-15 16:06] haiduong87 commented on #337
Attribution is not a part of the canvas.

![image](https://user-images.githubusercontent.com/22165935/133468810-b387b1e2-a5a4-4f65-91b5-604962f667ab.png)

[2021-09-15 16:33] astridx opened #340 "Do we need to import ImageData ?"
### Question

While playing around with Jest I get the following error message at this point: https://github.com/maplibre/maplibre-gl-js/blob/16c6c3f99bc05ff0ecefc764805ad5300b4b14b8/test/unit/data/dem_data.test.js#L137

[code]

I think ImageDate is this: https://developer.mozilla.org/en-US/docs/Web/API/ImageData

Could it be that we have to import this via

`Import ImageData from 'canvas'`

in th

[2021-09-15 16:43] drwestco opened #341 "2.0.0 - text rendered in wrong place when using text-variable-anchor"
**maplibre-gl-js version**: 2.0.0+

**browser**: Chrome

### Steps to Trigger Behavior

Using the debug page, start with the map zoomed to a point where no labels are showing. Add a symbol layer using text-variable-anchor.

This was working in 1.15.2

### Link to Demonstration

[code]

### Expected Behavior

Text should be shown below the icon, as the rendered collision box indicates.

### Actual

[2021-09-15 17:00] HarelM commented on #340
I mocked this in current tests in stub_loader.js file. I think you can do the same...

[2021-09-15 17:35] HarelM commented on #337
Yup, it's not, it's html.
Can this issue be closed then? I don't think there's much to do here, right?

[2021-09-15 17:51] drwestco commented on #341
Looks like it may be this change in uniform_binding.ts:

[code]

Previously, emptyMat4 was filled with 0s; now it's an identity matrix. I haven't tracked down the code that's reading this value, but reverting this line seems to fix the issue.

[2021-09-15 19:02] astridx commented on #340
OK. Thank you.

[2021-09-15 19:02] #340 closed

[2021-09-15 19:03] wipfli commented on #341
https://github.com/maplibre/maplibre-gl-js/pull/209/files#r693363232

[2021-09-15 19:05] wipfli commented on #341
This is something that caught my eye too while reviewing, but I don't remember why I did resolve the conversation.

[2021-09-15 21:18] #341 closed

[2021-09-15 22:36] anarchodin commented on #50
The approach chosen by Mapbox to render labels is unfortunately fundamentally incompatible with scripts that require more sophisticated handling than a mechanical typewriter could provide. This is not a problem with Unicode support as such; there is no problem with the encoding.

[2021-09-15 22:50] nyurik commented on #50
There was some attempts to solve this, but they didn't go far. OpenLayers tried to do it using svg on canvas, but iirc it was not solving it properly either.

Basically there is a c++ lib that knows how to do all the proper text rendering.  Browsers use that for the sites. Webgl has limited support of that lib (?), eg cannot use it along a curve to draw street names. So mb had to create a separate

[2021-09-16 01:23] #337 closed

[2021-09-16 02:57] tunnelpuzzle commented on #338
It seems like the padding-top should be changed regardless, even if the default for focusAfterOpen is changed the close button hover/focus still overlaps the popup content. Focusing an element within a popup/modal after it's opened is a pretty common accessibility feature.

[2021-09-16 03:51] naogify commented on #338
@HarelM @wipfli
Thank you for the reply. I created the PR for it https://github.com/maplibre/maplibre-gl-js/pull/344.

@tunnelpuzzle
Yes, if we change the default value of focusAfterOpen, the hover/focus will still overlap the popup content, but it will be more readable.

![スクリーンショット 2021-09-16 12 31 08](https://user-images.githubusercontent.com/8760841/133544956-c3c37098-e0ff-4b3c-9edd-39ca568ed9

[2021-09-16 13:57] boldtrn opened #346 "Tile URL replace all occurrences of {x}{y}{z}"
## Motivation

I'd like to use raster tiles from maps-for-free. The url format of these tiles are: `https://maps-for-free.com/layer/relief/z{z}/row{y}/{z}_{x}-{y}.jpg`.

I am aware that this is a rather uncommon url scheme.

### Implementation

Right now it seems that maplibre-gl-js only replaces the first occurrence of each of the variable and not all occurrences.

Probably `replace` should be re

[2021-09-16 13:59] HarelM commented on #346
Can transform request help in this case?

[2021-09-16 14:06] boldtrn commented on #346
Ah you are right, with some further string search and replace functions it should be possible to extract the `z` and `y` values again from the url.

But I am not sure if this is a general issue? For example Leaflet is replacing all occurrences.

[2021-09-16 18:48] HarelM commented on #346
I see your point.
Your best bet is to send a PR. This should be relatively simple I guess...

[2021-09-16 18:55] HarelM commented on #338
If this is planned for version 2.0 we are allowed to break as long as we add the relevant comment in the changelog.
I'm not sure we want to do both changes - padding and default change.
For accessibility I have a feeling padding is the better solution... I don't know...

[2021-09-17 12:12] jayarjo opened #349 "Is Maplibre based on Leaflet?"
### Question

I'm a bit confused about all those different mapping libs these days. So I will be grateful for some clarification.

We are currently using Leaflet, which proved to be too raw to efficiently work with complex styles, hence the reason to migrate to Mapbox. Since from what we knew Mapbox was based on Leaflet (is it still based on Leaflet?). But then we encountered that weird licensing

[2021-09-17 13:13] #349 closed

[2021-09-17 15:28] rbrundritt commented on #346
I came across this issue a few years ago and felt at the time it was an edge case, and at the time just used a request transform. Seeing that someone ran into this, I've made a small PR to address this. #348

[2021-09-17 15:31] rbrundritt commented on #333
I wonder if this would break any workarounds people have implemented in production.

[2021-09-17 15:33] HarelM commented on #333
This is what 2.0 is for...

[2021-09-17 15:36] HarelM commented on #346
The change is so minor I don't see a reason not to add this... Thanks!!

[2021-09-17 15:37] rbrundritt commented on #307
I suspect this would be a pretty large work effort to achieve and would only be good for a small subset of business scenarios. This would not be good for data visualizations where users are looking to get business insights most of the time as they will need to see all the data.

[2021-09-17 15:39] HarelM commented on #307
This can be an opt-in. I don't see a problem in theory if someone world like to do this.

[2021-09-17 15:44] rbrundritt commented on #307
My main concern would be how much this feature would in flat the project. If it grows the code base by 10% for something that would be use 5% of the time, should this be out of the box, or is there a modular approach that could be implemented?

[2021-09-17 16:20] HarelM commented on #307
Let's have this discussion if someone decides to implement this, this is currently not the case as far as I know...

[2021-09-17 20:06] wipfli commented on #326
After a series of confusing GitHub workflow runs I came to the conclusion that `test-render` has never been effectively used by continuous integration in this project. In `ci.yml` the script gets only mentioned in a comment but is never actually called. In `release.yml` the job `lint_build_test` calls `test-render` but despite its name this job never actually builds the library. This in turn makes

[2021-09-17 20:11] wipfli commented on #326
https://github.com/maplibre/maplibre-gl-js/pull/343

[2021-09-18 05:22] #346 closed

[2021-09-18 05:29] StephenStrickland commented on #277
@HarelM is there a ETA on typescript, maybe a site/branch where we can monitor progress? @andreapernici are you interested in heading this effort up?

[2021-09-18 05:32] wipfli commented on #277
We merged the typescript pull request into main. Pre-releases of version 2 are on NPM. Best place to monitor status is probably the changelog.

[2021-09-18 06:04] HarelM commented on #326
The following test for example seems to fail in both 1.x and latest version.
It doesn't use any tiles:
failed combinations/background-opaque--symbol-translucent
I'm not sure I know what should be our next steps...

[2021-09-18 06:59] naogify commented on #338
I also prefer padding-top for accessibility reasons. I commented here https://github.com/maplibre/maplibre-gl-js/pull/344#issuecomment-922211086 for the detail.

So, I created PR for adding padding-top. https://github.com/maplibre/maplibre-gl-js/pull/354

[2021-09-18 16:34] Malvoz opened #355 "[accessibility] Interactive markers should have a default accessible name"
Interactive markers (e.g. markers that bind to popups) should have a default [accessible name](https://www.w3.org/TR/accname/#dfn-accessible-name), e.g. `aria-label="Marker"` if not specified.

Related WCAG 2.1 Success Criterion: [4.1.2 Name, Role, Value](https://www.w3.org/TR/WCAG21/#name-role-value) (this issue is to address the <q>Name</q> part of the Success Criterion for interactive markers).

[2021-09-18 16:34] Malvoz opened #356 "[accessibility] Interactive markers should be `role="button"`"
Interactive markers (e.g. markers that bind to popups) are focusable and actionable elements, and should have appropriate semantics (i.e. [`role="button"`](https://www.w3.org/TR/wai-aria/#button)).

Related WCAG 2.1 Success Criterion: [4.1.2 Name, Role, Value](https://www.w3.org/TR/WCAG21/#name-role-value) (this issue is to address the <q>Role</q> part of the Success Criterion for interactive mark

[2021-09-18 16:35] Malvoz opened #357 "[accessibility] Interactive markers should convey the `aria-expanded` state of the controlled popup"
Interactive markers that bind to popups should convey the [`aria-expanded`](https://www.w3.org/TR/wai-aria/#aria-expanded) state of the corresponding popup.

Related WCAG 2.1 Success Criterion: [4.1.2 Name, Role, Value](https://www.w3.org/TR/WCAG21/#name-role-value) (this issue is to address the <q>Value</q> part of the Success Criterion for interactive markers).

<hr>

(The same issue was also re

[2021-09-18 16:35] Malvoz opened #358 "[accessibility] Attribution container should not have `role="list"` (or should have `listitem` children)"
https://github.com/maplibre/maplibre-gl-js/blob/0c6ead362589465ffa14a8feb99b689640c698d3/src/ui/control/attribution_control.js#L63

The attribution links should either be children of list items ([`role="listitem"`](https://www.w3.org/TR/wai-aria/#listitem)) or [`role="list"`](https://www.w3.org/TR/wai-aria/#list) should be removed.

See motivation in https://dequeuniversity.com/rules/axe/4.2/list?

[2021-09-18 16:36] Malvoz opened #359 "[accessibility] Consider replacing `aria-pressed` with `aria-expanded` on the attribution control"
Regarding:

https://github.com/maplibre/maplibre-gl-js/blob/0c6ead362589465ffa14a8feb99b689640c698d3/src/ui/control/attribution_control.js#L102-L110

[`aria-pressed`](https://www.w3.org/TR/wai-aria/#aria-pressed) is similar to [`aria-expanded`](https://www.w3.org/TR/wai-aria/#aria-expandedd) in that it indicates the state of the button, but `aria-expanded` is more appropriate as it specifically:

[2021-09-18 16:37] Malvoz opened #360 "[accessibility] The × character in the close button of popups should be explicitly hidden from ATs"
Although the contents of `aria-label` overrides the × character in the close button of popups, it is still announced as <q>multiplication</q> or <q>times</q> (depending on the screen reader) when the user is hovering the control with a mouse pointer.

To solve this issue, the × character:

https://github.com/maplibre/maplibre-gl-js/blob/9e6d57aaf7f77161c3d2f9dfd330a16227b60f19/src/ui/popup.ts#L497

[2021-09-18 16:38] Malvoz opened #361 "[accessibility] Zoom out control is not disabled when map is fully zoomed out"
When the map is fully zoomed _in_ the zoom in control is disabled (set to both `aria-disabled="true"` and `disabled`. It's redundant to use both but that's besides the point), OTOH when the map is fully zoomed _out_ the zoom out control is not disabled.

<hr>

(Related MapBox issue: https://github.com/mapbox/mapbox-gl-js/issues/11013.)

[2021-09-18 16:38] Malvoz opened #362 "[accessibility] Consider conveying only one of `aria-label` and `title` in controls"
Most controls use both `aria-label` and `title` with identical values,
for example the zoom in control:

[code]

This would cause some screen readers, such as NVDA, to announce <q>Zoom in</q> twice. Although this is considered a bug (https://github.com/nvaccess/nvda/issues/7841, in the case of NVDA) the issue can be fixed by conveying only one of `title` or `aria-label`.

To avoid double speak whi

[2021-09-18 16:39] Malvoz opened #363 "[accessibility] Accessible target size for controls"
The <span title="Web Content Accessibility Guidelines">WCAG</span> 2.1 <span title="Success Criterion">SC</span> [2.5.5 Target Size](https://www.w3.org/TR/WCAG21/#target-size) requires targets for [_pointer input_](https://www.w3.org/TR/WCAG21/#dfn-pointer-inputs) to be at least **44 by 44 in CSS pixels**. Meeting this requirement has [multiple benefits](https://www.w3.org/WAI/WCAG21/Understanding

[2021-09-18 16:40] Malvoz opened #364 "[accessibility] Make the map container a distinct semantic structure that entails all its components"
When visual users look at a map they can easily tell that the controls, attribution, and other (potentially custom) UI components that are placed on the map belong to it. <span title="Assistive technology">AT</span> users rely on HTML semantics, DOM structure, and ARIA to convey these things and their relationships.

Currently, the `tabindex="0"`, `aria-label="Map"` and `role="region"` (which toge

[2021-09-18 17:09] HarelM commented on #364
Can you make a PR to solve all the issues you opened about accessibility?

[2021-09-19 06:58] wipfli commented on #296
https://github.com/maplibre/maplibre-gl-js/pull/353

[2021-09-19 06:58] #296 closed

[2021-09-19 07:08] wipfli commented on #326
It is true that many render tests don't need a tile source. Others, like `background-opacity/image` have a local source:

[code]

Is this local source provided by the test harness?

[2021-09-19 07:11] wipfli commented on #326
Are there render tests which call online `mapbox://` sources?

[2021-09-19 12:01] wipfli commented on #326
The only occurrence of `mapbox:` in files in the folder `test/integration/render-tests` is in `tile-mode/streets-v11/style.json`:

[code]

@msbarry can you elaborate why an online tile source is needed for the render tests? I have the impression that the necessary tiles are contained in the folder `test/integration/tiles`.

[2021-09-19 12:21] wipfli commented on #326
Having a closer look at the first render test that fails on ubuntu. I am running

`xvfb-run -s "-ac -screen 0 1280x1024x24" npm run test-render debug/overdraw`

And it fails at the latest commit which is 37bcaf5.

[2021-09-19 12:29] lhapaipai commented on #334
Hello,

It seems that the problem come from SSR support of Vitejs. When he resolves a package server side (like with svelteKit), he tries to detect if it's a commonJS or ES module. If he detects, the module provides a commonjs entry he does nothing and use the entry point. [SSR externals](https://vitejs.dev/guide/ssr.html#ssr-externals).
But SSR support is still experimental and there are cases wh

[2021-09-19 13:02] wipfli commented on #326
Rather than installing node 10 on my machine I prefer using GitHub actions to find out when or if this test ever passed. Doing this in pull request https://github.com/maplibre/maplibre-gl-js/pull/365.

[2021-09-19 13:25] HarelM commented on #326
I have a feeling that the number of failing tests before and after typescript is not that different.
We might find tests that needs to be fixed, don't get me wrong and the approach you took in #365 is great to understand which are failing and why, but the main question is what do we do with the test that fail in the version before typescript, as there are many failing tests there, not just a handf

[2021-09-19 13:30] wipfli commented on #326
Based on https://github.com/maplibre/maplibre-gl-js/runs/3644885743?check_suite_focus=true only a single render test did not pass in the last commit before typescript.

[2021-09-19 13:30] HarelM commented on #334
Honestly, I'm a bit lost here...
If you think there's an easy solution to implement here please open a PR. I'm not sure how to help...

[2021-09-19 13:36] wipfli commented on #326
My intuition is that the changes related to `mat4` had an impact rendering, for example in https://github.com/maplibre/maplibre-gl-js/blob/main/src/geo/transform.ts.

[2021-09-19 13:55] HarelM commented on #326
Yes, I have that feeling as well. The changes there are relatively easy to revert and see if it helps. I don't think this is the only root cause though...

[2021-09-19 17:03] wipfli commented on #326
While many render tests fail since the typescript migration, [regressions/mapbox-gl-js#9009/style.json](https://github.com/maplibre/maplibre-gl-js/blob/main/test/integration/render-tests/regressions/mapbox-gl-js%239009/style.json) even makes the whole test process crash. Running

[code]

Results in the following error:

[code]

Maybe this could be a good starting point to investigate which changes

[2021-09-19 19:14] zstadler opened #366 "[Enhancement] Invalidate cache entry only after a new copy arrives"
## Motivation
There is a conflict between keeping the map tiles up-to-date and the desire to maintain map visibility when the map source is updated on a minutely basis.

In order to push map updates ASAP to users, and reward users that update the OSM map, the expiration period of the tiles is relatively short.
As a result, users with slow internet connection, and in bad cellular reception in parti

[2021-09-19 19:22] HarelM commented on #366
This is a great idea! Your best bet to push this forward would be to send a pull request.

[2021-09-19 19:28] HarelM commented on #326
Yes, I've seen this crash as well when running locally unfortunately :-( I have no clue where to start looking into it. There are a few other changes besides typescript - node 14, packages upgrades etc. I don't know where to start honestly... :-(
Maybe we can post on slack that we need help with this one?

[2021-09-19 19:30] wipfli commented on #326
I made a website which shows roughly 90 render tests which currently fail. Some of them are really ugly:

https://wipfli.github.io/debug-test-render/

[2021-09-19 19:32] wipfli commented on #326
One of my favorite is this one:

![image](https://user-images.githubusercontent.com/53421382/133940531-4a9c365b-731f-4aab-af11-aadac752b014.png)

[2021-09-19 19:37] HarelM commented on #326
That's an excellent preview :-) feels like a lot of the failures are related to "accuracy".
Let's try and revert as many of the transform changes as possible, as you suggested and see what we are left with, what do you think?

[2021-09-19 21:47] HarelM commented on #326
I've reverted locally the changes in all files containing `mat4.create` or `fromValues` and it seems a lot of test are passing now.
Unfortunately, the only way to get this passing in typescript is to use `as any` in a lot of these places...
How can I make a PR with the relevant changes in order to see the render test runs? Do you want to create a branch for this so we can collaborate the work?

[2021-09-19 22:12] HarelM commented on #326
I've created #367 to allow collaboration on a branch.
Still 171 tests fail there:
[code]

[2021-09-20 07:33] boldtrn commented on #346
Thanks a lot for integrating this change 🎉

[2021-09-20 10:22] msbarry commented on #326
Ah I thought that tests [like this](https://github.com/maplibre/maplibre-gl-js/tree/main/test/integration/render-tests/basic-v9) were using a remote datasource, but I see now that some of the low zoom tiles are served directly out of the repo.  That's great we only need a data provider for one of them.

[2021-09-20 14:02] boldtrn opened #370 "Can't build version 2.X with Webpack (module has no exports)"
I just tried to upgrade from 1.5.2 to 2.0.0-pre.4.

However I am facing issue during the build with Webpack.

With 1.5.2 the following works:
[code]

However, with 2.0.0-pre.4 I get the following error during the Webpack build:

[code]

I am using JS and no TS - not sure if there might be issues with this?

[2021-09-20 14:04] HarelM commented on #370
Please provide a jsbin/stackblitz/something else with the full setup.

[2021-09-20 14:17] Malvoz commented on #364
@HarelM Unfortunately I am not familiar with the MapLibre codebase, and MapLibre is only 1 of [many web maps](https://github.com/Malvoz/web-maps-wcag-evaluation/blob/master/README.md) that I have reported issues for so it would not feasible for me to spend the time on all these projects.

[2021-09-20 14:31] HarelM commented on #364
I'm not familiar with accessibility criteria and implementation. In the src folder there's the ui folder, in it all the components are, you can easily add this if this is important to you...
This is a community project, everyone helps where it's important to them, simply opening issues is less helpful than actually contributing code...

[2021-09-20 15:04] wipfli commented on #364
Thanks @Malvoz for opening the accessibility issues. I think they are valuable and if questions regarding accessibility come up, for example like in https://github.com/maplibre/maplibre-gl-js/pull/344, I will take the freedom to ping you and ask for expert advice.

[2021-09-20 15:06] HarelM commented on #364
I'm sorry, I didn't mean to discourage anyone, the reality is that there's no company to back this project and the best approach to progress something is to open PRs.
If this reality is discouraging I'm sorry...

[2021-09-20 15:11] wipfli commented on #364
I think it is important to remember that MapLibre GL JS is really just a community-driven project. We all do this for fun and the goal is certainly not to discourage anyone from contributing.

[2021-09-20 15:12] boldtrn commented on #370
I just did a quick test on Stackblitz, it works there. So maybe it's related to Webpack. I could try to setup a small repo for reproduction. Webpack is always a bit of a overhead ;)

[2021-09-20 15:29] xabbu42 commented on #364
@wipfli thanks and I completely agree.

@HarelM I was not discouraged by any reality outside of your control, but by your reaction in this issue, especially the following quote:

In that case I would actually disagree as accessibility experts are hard to come by and fixing this issue seems the smaller part of the work. But even if it were true, do you intend to mention that reality on every issue

[2021-09-20 15:40] HarelM commented on #364
I have deleted my comments. I will stop trying to help by pushing this project forward, reviewing every PR with valid comments and reviewing every issue that someone opens and try to direct them to action. My bad... I'm wondering who's discouraging who...

[2021-09-20 18:47] HarelM commented on #370
This is my impression as well, might be something we changed in 2.0, but I'm not sure...
Webpack configuration is not easy... Let me know if you find the root cause.

[2021-09-21 04:07] drwestco commented on #333
Unless the project is using a minifier that mangles private class member names (not common practice), marking members as private shouldn't affect such debug console hacks.

[2021-09-21 08:07] boldtrn commented on #370
Ok, I was able to identify the issue. The problem is created by a [line in the package.json](https://github.com/maplibre/maplibre-gl-js/blob/main/package.json#L16).

[code]

When I remove the line, the build works.

So this seems to be at least related to https://github.com/maplibre/maplibre-gl-js/pull/368

[2021-09-21 08:49] boldtrn opened #373 "Contextmenu Event on LongPress for Touch devices"
## Motivation

When using a mouse, you open the context menu via a right click. On touch devices there is no right click. Usually the right click is replaced with a long press.

So I'd like to propose that the contextmenu event is also triggered for long presses.

## Design Alternatives

An alternative could be to have an extra longpress event which would allow to mix these independently.

[2021-09-21 09:49] msbarry commented on #76
In addition, we should get the benchmarks running in CI on every pull request. I omitted 2 things from the circleci config when setting up the initial CI: render tests, and benchmarks (because I thought they both needed a remote datasource which wasn't set up then, but is now with the maptiler docs key).  @HarelM and @wipfli are getting the render tests working in #326, but we should also track ge

[2021-09-21 09:56] HarelM commented on #76
I think this issue is good for this.
I think #201 is the relevant effort in terms of PR.
We obviously can't use mapbox s3 bucket so I recommended to try and simplify this as a starting point to allow this to run and later on complicated it to allow benchmarking against different versions. In any case, I agree this is important.

[2021-09-21 15:57] rbrundritt commented on #362
Good distinction on both and when to use one, the other, or both: https://mauss.dev/posts/aria-label-vs-title-attribute

[2021-09-21 16:04] rbrundritt commented on #144
I agree with razorness, converting the SVG to an image will is the simplest option, and if you do that, then it makes sense to use the a symbol layer for increased performance.

This assumes that your SVG's won't be using CSS classes or have dynamically changing CSS styles (i.e. change stroke color on hover). If you need to have different "states" for an SVG, you can still create images for each s

[2021-09-21 16:38] rbrundritt commented on #106
A couple of thoughts:

- My first thought was around data coming in via a URL and downloading the data as a string, then passing that into the worker without the need for JSON.stringify, but there is already something like that implemented, so doesn't look like any optimizations to be made if your loading your data via URLs.
- When working with raw GeoJSON objects, we could look at making use of S

[2021-09-21 16:49] rbrundritt commented on #106
Looking around a bit more, looks like JSON.stringify is used in a lot of places within the code base. If we can find a good faster alternative that could easily be swapped back if needed, that might be a good option to improve performance in a number of places throughout the codebase. Might also be good to look at JSON.parse alternatives as well.

[2021-09-21 18:27] chippieTV commented on #326
Sorry these are my changes to mat4 etc. :(

regarding **raster-extent/maxzoom** (@wipfli's favorite), the only required fix from `main` seems to be `src/geo/transform.ts:733`

from `this.invProjMatrix = mat4.invert(mat4.create(), this.projMatrix);`
to `this.invProjMatrix = mat4.invert([] as any, this.projMatrix);`
or `this.invProjMatrix = mat4.invert(new Float64Array(16) as any, this.projMatrix);`

[2021-09-21 18:38] HarelM commented on #326
Don't worry about it. I reviewed it and missed it as well. I thought it was the right direction too.
Once we fix the tests we'll see how to improve the typings. I agree this needs to be fixed.
I have created a PR and branch with some reverts, take a look and see if you spot other possible reverts.

[2021-09-21 19:06] wipfli commented on #326
Absolutely no problem @chippieTV. Thanks for all the contributions you made. Interestingly, I was just editing in my copy exactly the thing you proposed:

[code]

But so far still 80 tests fail.

[2021-09-21 19:37] drwestco opened #374 "queryRenderedFeatures ignores symbol draw order"
**maplibre-gl-js version**: 1.14+

**browser**: Chrome

### Steps to Trigger Behavior

 1. Two overlapping symbols, using symbol-sort-key so first symbol draws on top of the second
 2. queryRenderedFeatures at a pixel location covered by both symbols
 3. Examine the order of the features returned

### Link to Demonstration

https://jsfiddle.net/drwestco/2z6mtgrk/5/

### Expected Behavior

Per the

[2021-09-21 20:18] razorness commented on #144
In case of using a style switch (f.e. to switch between a vector style and satellite raster style) you will have to re-add your images after every switch.

[2021-09-22 00:54] drwestco commented on #374
query_features.ts, line 128. `featureSortOrder` is only populated in symbol_bucket.ts, if `sortFeaturesByY` is set `symbol-z-order === 'viewport-y'`. Otherwise, queryRenderedFeatures falls back to returning results in source order. Per the docs, it should return them in rendered order regardless of `symbol-z-order`?

[code]

[2021-09-22 15:50] drwestco commented on #374
The order of symbols returned from queryRenderedFeatures only matches draw order is when symbol-z-order is set to 'viewport-y'. But in that mode, symbol-sort-key is ignored, so that z-order is not a valid workaround.

[2021-09-22 20:38] drwestco commented on #374
Ouch. If the query region is large enough to span multiple tiles, the result order is even less sensible. It appears to be sorted in source order, but grouped by tile+layer (bucketInstanceId), so the result set is all chopped up.

[2021-09-23 06:21] wipfli commented on #374
That's very interesting. I have seen strange z-ordering before too. Does it matter if one uses a style.json file or adds things dynamically?

[2021-09-25 06:11] HarelM opened #377 "Move interface documentation to the right place"
There are 3 `* @interface` documentation in the code and they appear above the interface.
Seems like we should use `interface` and not `type` and move the jsdocs to be right above each method and property of the interface to have the IDE properly show when editing the code.
[code]

I didn't want to do it as part of the test render fixes so I'm opening this issue.

[2021-09-25 12:33] #326 closed

[2021-09-25 16:12] xabbu42 commented on #374
I could also reproduce the issue with mapbox-gl-js 1.13.0 just to make sure it is not a regression from maplibre-gl-js commits. I'll look into writing a test for this.

@wipfli just to be sure we are on the same page, the issue here is not about the rendering where the z-order is correct (i.e. the red circle above the green circle) but about the return value of queryRenderedFeatures, where the red

[2021-09-25 16:28] wipfli commented on #374
Good, so if we fix this we can add a unit test. A render test will not be required.

[2021-09-26 06:34] #377 closed

[2021-09-26 07:48] #263 closed

[2021-09-26 10:38] JinIgarashi opened #400 "gl-stype-spec is not working"
**maplibre-gl-js version**: @maplibre/maplibre-gl-style-spec v14.0.1

https://www.npmjs.com/package/@maplibre/maplibre-gl-style-spec

**browser**:

### Steps to Trigger Behavior

 1. Install `maplibre-gl-style-spec` globally
[code]

 2. Execute any command of `gl-style-spec` CLI tools.
[code]

### Link to Demonstration

https://jsbin.com/

### Expected Behavior

all CLI tools should work after ins

[2021-09-26 10:59] wipfli commented on #400
Thanks for the feedback. Does [`v14.0.0`](https://www.npmjs.com/package/@maplibre/maplibre-gl-style-spec/v/14.0.0) work?

[2021-09-26 11:14] JinIgarashi commented on #400
@wipfli v14.0.0 also does not work. But it is different error.
[code]

However, `gl-style-validate` seems working in v14.0.0.

[2021-09-26 17:10] wipfli commented on #400
Thanks for opening this issue. The command line tools have a bit a strange way to tell you if your input is wrong. In particular, if you don't provide a path to a style file then you get this ugly file system error `TypeError [ERR_INVALID_ARG_TYPE]: The "path" ...`

Locally for me all commands work if I provide a style file in version 14.0.0:

[code]

However, with `14.0.1` (after typescript migra

[2021-09-26 17:47] wipfli commented on #400
Should be fixed now, I published [`v14.0.2`](https://www.npmjs.com/package/@maplibre/maplibre-gl-style-spec/v/14.0.2) on NPM. Give it a try and let me know if it works for you too. Thanks for the feedback again!

[2021-09-27 10:05] HarelM opened #402 "Fix tinySdf usage"
There need to be an adoption of the breaking changes in tinySdf after the PR to update it to a breaking change version.

[2021-09-27 16:14] #402 closed

[2021-09-27 17:05] JinIgarashi commented on #400
@wipfli Thank you for fixing this issue quickly! I close this issue now.

[2021-09-27 17:05] #400 closed

[2021-09-28 20:13] HarelM opened #412 "Automate changelog updates"
## Motivation

Instead of asking everyone to update the changelog in every PR we might consider using the following Github action:
https://github.com/marketplace/actions/generate-changelog
I'm using it in another project I'm maintaining and I think it does a decent job.
this should be relatively easy to implement and can be seen here to as an example:
https://github.com/HaylLtd/cordova-background-

[2021-09-28 20:29] wipfli commented on #412
I do indeed like this stuff. What about https://github.com/github-changelog-generator/github-changelog-generator ?

[2021-09-28 20:31] HarelM commented on #412
LGTM

[2021-09-28 23:12] douglasg14b commented on #333
This would break tons of workaround that people use.... I even have some of these kicking around.

[2021-09-28 23:17] douglasg14b opened #415 "A reliable way to reload tiles from a vector tile source"
## Existing Behavior

The current behavior seems to support this, but it is buggy for some reason.

https://github.com/maplibre/maplibre-gl-js/blob/9e6d57aaf7f77161c3d2f9dfd330a16227b60f19/src/source/vector_tile_source.ts#L136-L137

The above causes the layers that rely on the source to flash, and then reload. However, if this action (clearing the tiles & loading) is performed in quick succession

[2021-09-28 23:53] douglasg14b commented on #415
One this that does work (Still causes flashing tiles, and also causes some weird geometry simplification the more it's called):

[code]

This causes the tiles to be reloaded, but each subsequent reload the geometry becomes more and more simplified, as you can see here. This seems to be caused by each subsequent tile reload fetching one more z-level up (The request for the tile goes down 1 zoom lev

[2021-09-30 13:00] xabbu42 commented on #415
Does https://github.com/mapbox/mapbox-gl-js/pull/8048#issuecomment-773682337 work for you?

[2021-10-01 08:57] astridx commented on #334
@lhapaipai

The error message indicates something different, but I had a problem with Maplibre 2.0 using Webpack and Gatsby. The error message was not clear there either.

I changed the import from` import maplibregl from "maplibre-gl"` to `import * as maplibregl from "maplibre-gl"`. After that it worked.

Maybe that's worth a try?

[2021-10-02 07:57] wipfli opened #427 "Benchmark guidelines"
I hope that we get the MapLibre benchmarks working soon, see #391. Then the question is what are we actually going to do with them? Is there a need to write guidelines when a pull request is considered too slow?

[2021-10-02 11:19] wipfli opened #428 "`npm ci` fails"
I have seen that `npm ci` fails frequently, for example [here](https://github.com/maplibre/maplibre-gl-js/pull/425/checks?check_run_id=3764944029):

[code]

Any idea why this happens?

Should we configure the `setup-node` action with `registry-url: 'https://registry.npmjs.org'`?

[2021-10-02 19:31] MichalNemec opened #429 "Clustering customization"
## Motivation

Make clustering more customizable for end user.

## Design

Based on this plugin for leaflet, functionality wise:
https://leaflet.github.io/Leaflet.markercluster/example/marker-clustering-realworld.388.html

### Implementation
Based on this plugin for leaflet:
https://leaflet.github.io/Leaflet.markercluster/example/marker-clustering-realworld.388.html
could be done the clustering co

[2021-10-02 20:06] HarelM commented on #429
I'm using ngx-maplibre which uses supercluster under the hood, I think supercluster is a good way to add this capabilities without adding it to this repo. Am I missing anything?

[2021-10-02 20:59] MichalNemec commented on #429
I didnt even think of the supercluster, that would be nice to add it there. Because as i checked last time, the coverage i just didnt find.

[2021-10-03 01:05] douglasg14b commented on #415
@xabbu42 Unfortunately not, it still suffers from:

1. The layer flashing off and back on
2. It can take several seconds before it tries and fetch a new tile. Sometimes it's immediate, sometimes it takes several seconds.
    * It's not requests taking a while, a request isn't made for several seconds. Sometimes it can take 5+ seconds
    * I have no idea what it's waiting on....

[2021-10-03 01:07] douglasg14b commented on #415
@xabbu42 Unfortunately not, it still suffers from:

1. The layer flashing off and back on
2. Every-other action it never reloads the tiles. If I perform two actions in a row, the second action for one reason or another never triggers the tiles to reload. A third action will.

[2021-10-03 07:27] astridx commented on #428
I think this is because there are many actions/prozesses activ at the same time.

I just run https://github.com/maplibre/maplibre-gl-js/pull/425 again at it passes without error.
(

[2021-10-03 09:58] MichalNemec commented on #429
Its not going to be implemented. So there is that :) closing the issue

[2021-10-03 09:58] #429 closed

[2021-10-04 16:39] xabbu42 opened #437 "npm run test-query-node fails in main"
### Steps to Trigger Behavior

 1. npm install
 2. npm run test-query-node

### Expected Behavior

In the 1.x branch and using yarn, the query tests are run.

### Actual Behavior
[code]

[2021-10-04 16:56] HarelM commented on #437
Interesting, I thought this never ran as it was not part of the CI.
Feel free to try and restore this functionality.
Let me know if you are on it or not.

[2021-10-04 17:03] xabbu42 commented on #437
Yeah it never ran as part of the CI, but it did work in 1.x. There are a lot of failing tests though. I only found it recently searching for a place to add a test for #374.

I assume this regression is related to the the typescript refactor? If not I can search for the offending commit, but if it is the typescript refactor I'd rather leave fixing this to people who know what they are doing.

[2021-10-04 17:30] HarelM commented on #437
If the tests are failing in 1.x I'm not sure it's worth fixing. Query tests are running in the browser, I believe.
TS probably broke it in terms of making it run, but fixing the tests is not something we did until now...

[2021-10-04 19:22] xabbu42 commented on #437
I got the following summary on 1.x:
[code]

I'll look into running the tests in the browser but I do think there is value in tests running from command line.

[2021-10-04 19:32] HarelM commented on #437
The tests are running in the CI, as other have noted, running browser code on node is probably not the best approach as you need to mock a lot of stuff. running the tests in the browser make a lot of sense to me :-)
I'm not sure it's worth trying to make the tests pass since third of them are failing. Feels to me like the right direction is to remove this from the code base to reduce time waisted

[2021-10-04 21:32] xabbu42 commented on #437
Ah I see now, I was not aware that these tests are automatically run and all pass if run correctly. So I agree just removing this is best. I'll send a pull request.

[2021-10-04 21:46] HarelM commented on #437
Cool! thanks!

[2021-10-05 09:52] #437 closed

[2021-10-05 19:00] HarelM commented on #266
Style spec is defined in a json file (v8.json) for example.
In order to have good typings in the code of this project this json file is converted to a series of generated typescript files. These files are referenced and allow safer implantations.
This is the part where we struggled with the typescript typings in the properties.ts file I think it was.
The codegen allows the code to reflect the spec

[2021-10-05 19:11] wipfli commented on #266
Cool thanks!

[2021-10-05 19:35] wipfli opened #440 "Remove `bench/gl-stats.js`"
We should either remove `bench/gl-stats.js` or figure out what it is good for and use it possibly in CI.

[2021-10-06 05:46] #266 closed

[2021-10-06 06:21] HarelM opened #441 "Organize build scripts"
## Motivation

Build scripts are scattered around in two main folders: rollup and build.
There's no good reason for that as far as I understand.
Also build folder seems to have some files that are currently not in use I think.
I would also like to create a readme for the build to document what is currently running and how, much like the readme files for the tests.

[2021-10-06 07:59] fredj opened #442 "Example in README not working"
The codepen in README (https://codepen.io/klokan/pen/WNoZRyx) is not working:
[code]

[2021-10-06 08:24] HarelM commented on #442
This is using version 2.0.1-pre.1 which is a problematic version (and was release by accident as release and not pre-release).
I would suggest to use either 1.15.x or use 2.0.1-pre.5.
If you happen to have time to test it with 2.0.1-pre.5 it would be great.

[2021-10-06 16:19] wipfli commented on #440
https://github.com/maplibre/maplibre-gl-js/blob/f87090b70b8a6fbde1a779c44933ce32bffc5d2c/.circleci/config.yml#L188-L199

[2021-10-06 19:44] wipfli opened #445 "Remove `watch` scripts from `package.json`"
In the benchmark migration we came across a bunch of scripts in `package.json` which are broken or not used anymore. We might want to remove all scripts of the form `watch-*` and clean up historic CI-related scripts that are now replaced with GitHub Actions like `prepublishOnly`, `print-release-url`, and `diff-tarball`.

[2021-10-06 20:41] xabbu42 commented on #445
Does this mean that the watch-* scripts are no longer necessary to automatically trigger rebuilds or that we will no longer have this feature?

[2021-10-07 12:54] chpicone opened #446 "MVT tiles returning 404 error are not displayed"
Using an older version of mapboxgl (0.44.1) I was able to use OSM mbtiles with zoom level from 0 to 14 also zooming to an higher zoom level (15, 16 and so on).
When the map makes the request we obtain an 404 http error but the map continues displaying the area using tile from lower zoom levels and it is good.
Now I have updated my application using maplibre and now the behaviour is not the same.
I

[2021-10-07 16:49] #446 closed, assigned to nobody

[2021-10-08 22:49] #441 closed

[2021-10-09 06:20] wipfli commented on #445
The idea is to remove the watch functionality.

[2021-10-09 23:53] acalcutt opened #456 "Source added with map.addSource not in map.getStyle().sources?"
Hi Everyone,

I was wondering if someone could help me. I think this may be a bug in maplibre, but also very possibly a bug in the code I am modifying. I have tied to take mapbox-gl-inspect and modify it for maplibre, which for the most part seems to have worked. However when I used this on my map, it seems to fail when my site adds a geojson source with map.addSource

Here is my example. I have t

[2021-10-10 02:54] acalcutt commented on #456
After a bit more testing, this actually seems to break between Mapbox GL JS 1.12.0 and 1.13.0. In my initial tests I was using Mapbox GL JS 1.11.1, but i've tested the other 1.1x.x releases and it seems to break before the transition to maplibre

[2021-10-10 08:01] #427 closed

[2021-10-10 13:21] acalcutt commented on #456
Thank for responding HarelM. I'm not sure I fully follow this either and I wrote it. it was kind of hard to explain so sorry if its a bit long winded :-)

I had an old version of mapbox-gl-inspect that came with TileServer-GL that I modified manually for maplibre by search and replace and that version was working for me. However when I tried to build the latest version from source code, my map nev

[2021-10-10 15:20] astridx opened #458 "[Jest] Things we should check after completing the migration of the unit tests to jest"
- [x] Maybe we don't need ts-jest (https://github.com/maplibre/maplibre-gl-js/pull/452#issuecomment-939431318)
 -> We need ts-jest, because we need type-check (https://jestjs.io/docs/getting-started#using-typescript)
 - [x] Do we need Sinon (https://github.com/maplibre/maplibre-gl-js/pull/453#issuecomment-939323981)
 ->There is an separate Issue https://github.com/maplibre/maplibre-gl-js/issues/55

[2021-10-10 20:41] HarelM opened #464 "Introduce code coverage to jest tests"
## Motivation

In order to better understand and see that we cover most code with the exiting unit test we need to introduce code coverage to our CI.
From very limited google search I found this, but there might be other that are better:
https://github.com/marketplace/actions/jest-coverage-report
@wipfli @astridx I think this can help us see which functions and methods are covered by the changes w

[2021-10-11 09:29] astridx commented on #464
I would not add it automatically during migration because it takes a lot of time.
You can run it via
npm run test-jest -- --coverage
manually

[2021-10-12 20:17] HarelM commented on #456
Let me get this straight - we are talking about the following repository:
https://github.com/lukasmartinelli/mapbox-gl-inspect#readme
Which is not maintained for more than a year, which the docs state that it supports a very old version of mapbox and has code that uses internal non public API methods of mapbox/libre??? Are you seriously expecting it to work?

[2021-10-12 20:22] acalcutt commented on #456
I am talking about my own version here ( https://github.com/acalcutt/maplibre-gl-inspect/tree/1.3.1 ), but yes it is based on that. And no, I don't directly expect it to work, but everything I have looked at that deals with the api seems to return the right information.

[2021-10-12 20:48] acalcutt commented on #456
And like i said, it does work with that minor tweak to maplibre. Not saying that's the right thing to do, but it shows the basics of the plugin I modified works.
https://stackblitz.com/edit/web-platform-dac7ey?file=index.html

I just don't really understand what I commented out in maplibre is actually changing in relation to this plugin.

[2021-10-13 08:07] indus opened #468 "[Feature request] FlatGeobuf source"
## Motivation

I would like to make use of the [FlatGeobuf](https://github.com/flatgeobuf/flatgeobuf) format as a source and benefit from the smaller network footprint and the faster processing times. I would like to replace some cases where I use GeoJSON atm. FlatGeobuf has already gained some adoption and there are quite a number of tools to produce/serve them: http://flatgeobuf.org/#supported-a

[2021-10-13 10:23] xabbu42 commented on #456
The inspect plugin should ignore data events with sourceDataType "visibility" (see https://maplibre.org/maplibre-gl-js-docs/api/events/#mapdataevent). We can not simply comment out that line as this event is documented and therefore part of the api.

I don't know the internals good enough to say if it is buggy that entries from sourceCaches disappear without any actual sources getting removed (tha

[2021-10-13 11:33] indus commented on #468
When using GeoJSON as intermediate format I don't see the need for an example as it just uses a the regular GeoJSON API of maplibre. And examples of how to convert FlatGeobuf to GeoJSON exist on their website.
Nevertheless I made one here: https://jsfiddle.net/eo2pbm9L/9/
Integration in all platforms would be challange. But is this necessary right from the beginning?

[2021-10-13 12:40] HarelM commented on #468
It's not needed straight up, but we need to make sure this is possible in all platforms and that someone will pick this up in other platforms, otherwise we are deliberately creating inconsistency, which we do not want...

[2021-10-13 13:54] acalcutt commented on #456
Hi Nathan,

Thanks to your description and information on mapdataevent I was able to get the inspect plugin working right without the changes to maplibre. Basically, like you said I added in a check for sourceDataType when the the map.on('sourcedata') used to trigger ( https://github.com/acalcutt/maplibre-gl-inspect/commit/c7de2648d75a499dc17769fc1fd8198c1c2c9004 )

So,
`    map.on('sourcedata', t

[2021-10-13 14:12] acalcutt commented on #456
btw, this is what i was originally getting at. I think after reading the code a bit that trigger may happen before the source is fully loaded. so when it runs the second time due to the visibility change, the new source isn't yet in the list. maybe...idk

I think I can close this as not really a bug but a change to the api. The plugin is now working with a few changes to work around the visibility

[2021-10-13 14:25] mactrem opened #470 "Remove npm latest dist tag from a pre-release version"
The npm latest dist tag is currently set to the 2.0.0-pre.1 version.
This causes a simple `npm install` to install a pre-release version instead of the currently more stable 1.15.2.
I would recommend to tag the 2.0.0-pre.1 version as next and 1.15.2 as latest.

[2021-10-13 18:26] SuperPat45 opened #472 "Backport fix for iOS 15 Safari from Mapbox-GL-JS version 1.13.2"
Mapbox-GL-JS release version 1.13.2 with this fix for iOS 15 Safari: https://github.com/mapbox/mapbox-gl-js/pull/11084
Maplibre could include it.

[2021-10-14 01:55] ZeLonewolf commented on #188
This issue remains a blocker for American-style map rendering, as discussed in ZeLonewolf/openstreetmap-americana#6.

[2021-10-14 05:49] HarelM commented on #184
Steering committee meeting decision was to keep current naming.
Closing.

[2021-10-14 05:49] #184 closed

[2021-10-14 05:53] HarelM commented on #174
@webberig iOS 15 has been released, have you tried retesting this lately by any chance?

[2021-10-14 08:55] catalinconstant opened #474 "maplibre-gl 2.0.0-pre.5 on angular 12"
Hello! I wanted to give a try of maplibre-gl 2.0.0-pre.5 in Angular 12 but I get the following errors:

Error: node_modules/maplibre-gl/types/util/vectortile_to_geojson.d.ts:6:25 - error TS2304: Cannot find name 'VectorTileFeature'.

6     _vectorTileFeature: VectorTileFeature;
[code]

Error: node_modules/maplibre-gl/types/util/vectortile_to_geojson.d.ts:7:36 - error TS2304: Cannot find name 'Vect

[2021-10-14 10:09] xabbu42 commented on #182
I think the idea is to interpret the paths relativ to the style as baseurl, instead of relativ to the current location maplibre-gl-js is running from. I am correct in my understanding @zstadler?

This actually seems to be the more useful way to handle relativ pathes and easy enough to implement. There could be installations out there which depend on the current behaviour of course, but as this sty

[2021-10-14 10:10] HarelM commented on #468
Steering committee decision: Maplibre-gl-js can support features that are not supported in other platforms.
This needs to be documented in the maplibre docs repository to indicate that a feature is only supported in a specific platform.
There's also a need to open an issue for the others repo, preferably with the relevant implementation in the supported platform.
Feel free to submit a PR with the

[2021-10-14 13:17] catalinconstant commented on #474
I have tried in stackbiltz and is working (https://stackblitz.com/edit/angular-ivy-vuttfs?file=src/app/hello.component.ts).
It seems that in local env maplibre-gl library is skipped by Ivy / ngcc compiler.

[2021-10-14 13:17] #474 closed, assigned to nobody

[2021-10-14 17:15] xabbu42 opened #476 "speed regressions in main relativ to 1.x"
The benchmarks seem to be quite good at picking up even minor speedups and slowdowns so I'm not sure we actually need to address all or even any of the following slowdowns. On the other hand its not yet always clear to me what are benchmarks for hotpathes in inner loops where even minor slowdowns are a problem and what are more end-to-end benchmarks.

Anyway comparing to 1.x (`npm run start-bench`

[2021-10-14 20:17] HarelM commented on #476
Typescript is traspiled to javascript, we reverted most of the changes to fix the failing tests.
So basically the javascript code after traspilation should be very very similar to how it was before the migration.
Dependencies update is a good point to consider.
Bottom line, I don't know where to start in order to solve this, but dependencies is a good idea to explore.

[2021-10-18 20:49] HarelM opened #526 "Remove non-typed-modules"
## Motivation

After I found out the following code was broken I decided to create a PR to all the non-typed modules we use in order to avoid this in the future (as much as possible anyway).
#525

The following are the PR I made:
https://github.com/mapbox/vector-tile-js/pull/78
https://github.com/mapbox/unitbezier/pull/3
https://github.com/mapbox/mapbox-gl-supported/pull/40
https://github.com/mapb

[2021-10-19 09:12] bothness opened #527 "** Breaking Change ** stopped supporting IE (internet explorer) in v2.0.0"
**maplibre-gl-js version**: 2.0.0

### Question

I noted from the [changelog](https://github.com/maplibre/maplibre-gl-js/blob/main/CHANGELOG.md) that it seems IE 11 will no longer be supported from Maplibre v2.0.0 onwards. I couldn't seem to find a discussion around this, so am posting as an open question instead.

Part of our reason as an organisation for migrating from Mapbox v1 to Maplibre was

[2021-10-19 09:20] wipfli commented on #527
Please post this at https://github.com/maplibre/maplibre-gl-js/discussions/71

[2021-10-19 09:20] #527 closed, assigned to nobody

[2021-10-19 11:48] wipfli commented on #527
https://github.com/maplibre/maplibre-gl-js/discussions/71#discussioncomment-331692

[2021-10-20 15:10] wipfli opened #545 "Move psydo-unit test `symbol/shaping.test.js`"
`symbol/shaping.test.js` is a psydo-unit test because it generates files and compares the current output against them. We should not treat it the same way we treat the other unit tests and move it to some special place in the `test/` folder.

[2021-10-20 18:22] HarelM opened #546 "Add test for tiny-sdf"
## Motivation

While upgrading tiny-sdf there was a breaking change we missed.
No test had failed and therefore we did not see it.
There's a need to add a test to cover that area.

[2021-10-20 20:18] HarelM commented on #546
Seems like this is already covered by the jest migration to typescript :-) - the fact that tiny-sdf now has typings caused failures in test in main as I did not merge main to tiny-sdf branch before merging.
@wipfli or @astridx please review the following commit I did straight to main to fix the test:
b6f5293992d442d5e1bc27204cc91edceb2cd4ab
I didn't want to wait with it and cause more issues with

[2021-10-20 20:18] #546 closed

[2021-10-21 01:52] #239 closed

[2021-10-21 01:52] #207 closed

[2021-10-21 01:52] #205 closed

[2021-10-21 15:27] Malvoz commented on #359
@astridx that's true, HTML is preferred over ARIA where possible.

For example, markers [should ideally be `<button>` as opposed to `<div role="button">`](https://www.w3.org/TR/2016/WD-wai-aria-practices-1.1-20160317/examples/button/button.html) (https://github.com/maplibre/maplibre-gl-js/issues/356). But such changes would require more effort (to reset the styles of these elements) which I don't

[2021-10-21 19:50] SuperPat45 commented on #472
This fix break panning with the map(box|libre)-gl-leaflet plugin: https://github.com/mapbox/mapbox-gl-leaflet/issues/145

[2021-10-21 22:35] HarelM opened #554 "Replace `sinon` with `nise`"
## Motivation

It seems that we are using `sinon` mainly for the fake http server.
`nise` is this part of sinon exactly and their typings is a bit better than sinon's.
I would advise to add `nise` to the jest test migration effort and remove `sinon` once we are done with the migration.

[2021-10-24 01:47] #136 closed

[2021-10-24 01:47] #133 closed

[2021-10-26 19:21] tordans opened #575 "`Error: out of range source coordinates for image copy` with for map icon sprite"
**maplibre-gl-js version**:

`"maplibre-gl": "^1.15.2",`

**browser**:

Firefox

### Steps to Trigger Behavior

Open map in Firefox. ~ 50 % of the time, the map icons do not load. Instead, I see all labels on top of eachother.
In Chrome, it happens less often (a lot less).
The second reload is usually fine. But following shift-reloads can re-trigger the error (but not often).

The easiest way to r

[2021-10-28 11:35] JannikGM opened #579 "Support for devices without "highp" fragment shader precision"
Some of the maplibre shaders assume the existence of `highp` support in fragment shaders, although this is an optional feature in WebGL.
Also see the discussion in https://github.com/maplibre/maplibre-gl-js/pull/416#discussion_r733742057

Please leave a message if you think that you (or your users) are affected by the lack of `highp` support on some device, so we can see if it's worth discussing.

[2021-10-29 14:25] bdullemond opened #582 "map.fitBounds has weird animation "jerk" in right conditions"
When the map is the right dimensions (i.e. thinner than it is tall) and the map.fitBounds method is called for a approximate world wide zoom event (eg: map.fitBounds([-179, -89, 179, 89]); ), the zoom animation seems to animate with the left edge of the map lined up with the left edge of the element and then when animation is complete, jump to place the centre of the bounds in the middle of the ma

[2021-10-29 20:19] HarelM commented on #582
Interesting... Probably an edge condition as can be indicated by the parameters you set.
It world help a lot of you could try and debug this.

[2021-10-30 10:40] xabbu42 commented on #116
Should this plugin be added to https://github.com/maplibre/maplibre-gl-js-docs/blob/main/docs/data/plugins.json and/or https://github.com/maplibre/awesome-maplibre before closing this issue?

[2021-10-30 20:09] HarelM commented on #116
@AbelVM please decide if and how you would like to publish the tiny plugin you wrote...

[2021-10-31 01:47] #121 closed

[2021-10-31 05:49] HarelM commented on #264
I still want to research this...

[2021-10-31 05:50] HarelM commented on #279
This seems like a good improvement, keeping it open for now...

[2021-10-31 08:54] AbelVM commented on #116
There is a pending PR in the Awesome List, actually: https://github.com/maplibre/awesome-maplibre/pull/4

But adding it to the plugins list might give it more visibility and maybe * *someone* * helps turning it prod-quality and adding it to main branch :slightly_smiling_face:

[2021-11-01 05:33] HarelM commented on #54
@cigone-openindoor do you want to send a PR for this? We've done it for "point" dependency, so far there were no issues...

[2021-11-01 05:46] HarelM commented on #53
@Malvoz was this issue covered by the other issues you opened?

[2021-11-01 11:11] primozs opened #589 "Tracking requests to mapbox"
Is maplibre still making requests to mapbox for tracking?

Errors in brave.

![Screenshot from 2021-11-01 12-08-52](https://user-images.githubusercontent.com/1006789/139662790-a500e4eb-95b4-4b45-84a3-6b20b76fdfe1.png)

[2021-11-01 11:14] HarelM commented on #589
Which version are you testing?
In 2.x it shouldn't...

[2021-11-01 11:34] primozs commented on #589
@HarelM Sorry I should write it before.

I just did "yarn add maplibre-gl"

"maplibre-gl": "^2.0.0-pre.1",

[2021-11-01 11:55] HarelM commented on #589
Can you test against pre.5?
pre.1 is a version that should not be out there...

[2021-11-01 12:00] primozs commented on #589
@HarelM Yes in pre.5 its ok.
Thank You!
Cheers

[2021-11-01 12:00] #589 closed

[2021-11-01 12:11] indus commented on #468
I no longer think custom formats should be intergrated into maplibre itself. I made a library [`mapsrc`](https://github.com/indus/mapsrc) that allows integration of multiple custom sources formats: https://mapsrc.js.org
While it has the shortcoming that it requires a detour via GeoJSON, I think it is much more flexible and easier to extend for other geo-formats. It also doesn't increase the size o

[2021-11-01 14:47] Malvoz commented on #53
@HarelM Yes mostly.

In relation to the [report](https://github.com/Malvoz/web-maps-wcag-evaluation/blob/master/README.md) (although most issues were originally identified for MapBox which MapLibre inherited):

- [x] Filed [#355](https://github.com/maplibre/maplibre-gl-js/issues/355) to address a failure of <span title="Success Criterion">SC</span> [4.1.2 Name, Role Value](https://www.w3.org/TR/WC

[2021-11-01 14:50] Malvoz commented on #53
I can submit a PR later to add an "Accessibility" section (under [CONTRIBUTING.md#recommended-reading](https://github.com/maplibre/maplibre-gl-js/blob/main/CONTRIBUTING.md#recommended-reading)?).

[2021-11-01 14:50] #53 closed

[2021-11-02 01:12] gtnbssn commented on #334
I'm seeing something that might be related building a vanilla JS app with Vite, so i'll add it here in case that helps.

If i import with `import * as maplibregl from 'maplibre-gl'` or `import maplibregl from 'maplibre-gl'` my build works properly, but the vite dev server doesn't, and i get `Uncaught TypeError: maplibregl.Map is not a constructor`. I can however type `maplibregl.Map` in the consol

[2021-11-02 01:47] #94 closed

[2021-11-02 01:47] #81 closed

[2021-11-02 01:47] #80 closed

[2021-11-02 01:47] #73 closed

[2021-11-02 08:12] xabbu42 commented on #49
This is still on my radar.

[2021-11-03 10:30] xabbu42 commented on #76
This is fixed with #391.

[2021-11-03 10:30] #76 closed

[2021-11-03 12:44] wipfli opened #610 "Publish version 2"
MapLibre GL JS 2.0.0 is about to be published. Here are the remaining tasks:

- [x] Test pre-release
- [x] Update changelog
- [x] Prepare docs repo
- [ ] Update readme
- [ ] Explain access token and tracking code removal
- [ ] Write a note on usage with third-party data providers
- [ ] index.d.js

[2021-11-03 12:51] HarelM commented on #610
Changelog is up to date as far as I know, it was automatically copied to the releases part of github, I don't know what will happen in the coming release, but worst case we can manually copy it...

[2021-11-03 12:52] HarelM commented on #610
Thanks for the reminder, I'll setup the test later this week.

[2021-11-03 15:03] astridx commented on #610
Do you mean the Readme [here ](https://github.com/maplibre/maplibre-gl-js/blob/main/README.md) and in the docs-Folder, or are there some more ?

I have entered an addition in the changelog. I assume that this will be placed under the version created when publishing, right? I don't have to do anything more, do I?

[2021-11-03 15:35] wipfli commented on #610
Apologies if my list was not clear. We should make sure that the readme talks about version 2 and not version 1, for example here:
[code]

[2021-11-03 18:57] astridx commented on #442
This is fixed [here](https://github.com/maplibre/maplibre-gl-js/pull/555), right?

[2021-11-03 19:35] astridx commented on #610
@wipfli Please see https://github.com/maplibre/maplibre-gl-js/pull/611

[2021-11-04 01:47] #267 closed

[2021-11-04 05:56] #31 closed

[2021-11-04 08:36] fredj commented on #442
yes, fixed

[2021-11-04 08:36] #442 closed

[2021-11-04 20:26] karussell commented on #96
This is an important issue - will reopen it. (btw: I'm skeptical that closing an issue just due to lack of discussion makes a lot of sense in open source communities)

Thanks a lot for the discussion @JannikGM. We had the same problems. It turned out that even with a simple circle moving around you get this ugly stuttering and high load. Especially with firefox (it got slightly better with the rec

[2021-11-05 06:07] HarelM commented on #27
I still want to do this. It's progressing slowly but steadily.

[2021-11-05 07:28] frank-unovica commented on #610
Currently 2.0.0-pre1 is installed by default (yarn), but has raster tile artifacts. Forcing pre5 (or 1.x) fixes this. I don't know if this is important, just saying.

[2021-11-05 10:16] JannikGM commented on #96
You can look at https://deck.gl which has mapbox interop and moves its own layers into a second canvas by default (https://deck.gl/docs/get-started/using-with-map).

[2021-11-05 12:22] HarelM commented on #610
I've tried version 2.0 with my project and it seems that the typings are a bit off.
I'll see how this can be fixed before we publish this version, as releasing it as is right now will cause whoever is using it with typescript some pain...

[2021-11-05 21:55] HarelM commented on #610
"a bit off" was an understatement unfortunately...
There are some major gaps between the typings that were written to facilitate the usage of typescript before the typescript migration and the typings that are now generated.
The typings that are now being generated are lacking in some areas.
I've created the following draft PR to allow collaboration: #623, feel free to comment there about this iss

[2021-11-06 06:46] astridx commented on #610
I have too little knowledge regarding typescript and do not fully understand the problem. I only use javascript so far.
Your suggestion sounds like a good solution to me. I would then explain it in the readme like this.

[2021-11-08 11:04] AbelVM commented on #48
Hi, I've found this library, [Lygia](https://github.com/patriciogonzalezvivo/lygia), that has all the wrappers for easily implement color blending functionality here https://github.com/patriciogonzalezvivo/lygia/tree/main/color/blend.

I really don't know whether that library might help or not, but it has made me come to this issue to bring it back to life. I (still) think this might be an awesome

[2021-11-08 13:02] wipfli commented on #610
I'm happy to release a new 1.x. @xabbu42 do you have anything in particular that you would like to pack into the next 1.x version or should I just go ahead?

[2021-11-08 13:09] xabbu42 commented on #610
Go ahead 👍. I think a working stable release as default installation is long overdue.

[2021-11-08 13:17] HarelM commented on #610
I don't think a new version 1.x from 1.x branch has anything to add to the previous version 1.x, so I don't see the benefit here, correct me if I'm wrong.
Creating an official version 2.x is not a good idea as typescript users will suffer, me among them (as I said in my previous post), if anyone is willing to help me fix it, it will allow releasing an official version 2.x sooner.
What I offered is

[2021-11-08 14:39] xabbu42 commented on #610
The benefit is that new people just checking out maplibre-gl-js get the latest **stable** version after `npm install maplibre-gl-js`.

[2021-11-08 14:41] HarelM commented on #610
@wipfli just fixed that using npm API. Thanks @wipfli!!

[2021-11-08 14:48] wipfli commented on #610
You are welcome. Sorry for not fixing this earlier @mactrem and @xabbu42. I tested `npm install maplibre-gl` just now and it correctly downloaded `1.15.2`.

[2021-11-08 19:34] frank-unovica opened #631 "MapLibre logo shown when using Mapbox source"
**maplibre-gl-js version**:
1.15.2

**browser**:
Chrome 95

### Steps to Trigger Behavior

 1. Initialize maplibre with mapbox:// source (style string not tested)

### Link to Demonstration
Use this map style:
[code]

### Expected Behavior
MapLibre logo should not be shown unless specified/bundled. Mapbox logo should be shown when using mapbox sources.

### Actual Behavior
MapLibre logo is shown

[2021-11-08 19:53] HarelM commented on #631
Thanks for taking the time to report this issue!
We have removed most things related to Mapbox in version 2.x.
I don't think this issue can be reproduced in version 2.0-pre.5 of this library.

[2021-11-09 01:45] #55 closed

[2021-11-10 01:45] #46 closed

[2021-11-10 01:45] #33 closed

[2021-11-10 19:21] j5kay commented on #582
Spanning the antimeridian under mapbox/maplibre has been an issue since the beginning. To fix it would require a lot of work, as there are many (wrong) assumptions made on the given coordinates for a bounding box throughout the rendering engine (all revolving around the false basis that the west longitude is always less than the east longitude).

Luckily, there is a work-around -- simply go past t

[2021-11-11 10:58] xabbu42 opened #633 "fix or remove specific debug pages"
Since commit 8a49205cf09a479579142a4d745c932eef49c2b1 a lot of the specialized maps in https://github.com/maplibre/maplibre-gl-js/tree/main/debug no longer work or at least no longer have the original use. For example https://github.com/maplibre/maplibre-gl-js/blob/main/debug/satellite.html is now just the same as index.html instead of a map with satellite imagery. And https://github.com/maplibre/

[2021-11-11 11:01] HarelM commented on #273
This is in progress now.

[2021-11-11 13:40] HarelM commented on #46
For future reference, this is basically covered here:
https://maplibre.org/maplibre-gl-js-docs/example/add-image-missing-generated/
We have decided that the example above is a good enough solution to this issue in the steering committee meeting.
The implementation can be seen here:
https://github.com/IsraelHikingMap/Site/blob/6aa2ec0cfb8891fa048b1d9e2a4fc7d4cbcc8c97/IsraelHiking.Web/src/applicatio

[2021-11-11 21:04] cigone-openindoor opened #636 "Nominatim and maplibre-gl-geocoder"
We have no demo with a working example of geocoding tool

So I suggest to rely on this code to fix it:
https://github.com/open-indoor/open-indoor.github.io/blob/master/examples/maplibre-gl-geocoder.html

[2021-11-11 21:19] wipfli commented on #636
Beautiful. Want to add it to the examples in the docs repo?

[2021-11-11 21:20] wipfli commented on #636
Demo: https://open-indoor.github.io/examples/maplibre-gl-geocoder.html

[2021-11-12 13:51] xabbu42 commented on #141
I think this would be a useful feature, moreover it makes sense to me to be as compatible as possible to leafletjs for raster layers, so I'll make a pull request adapting their api, that is an explicit {r} which gets replaced in the tile urls.

[2021-11-12 18:11] cigone-openindoor opened #638 "Suggest a non empty default style"
As a beginner, I would be please to start using maplibre library without having to register to a style provider.

As example, this style could be a default one:
[code]

[2021-11-13 00:17] HarelM commented on #638
I tend to agree this is a good idea, I always find myself making a typo when creating a simple repo to reproduce an issue when all I need is a map that shows something...
Having said that, the main value for maplibre is vector tiles which is not in use here, so I'm not sure if the default should be raster.
This is just a though, I think this idea is better than the current behavior...

[2021-11-13 11:11] #141 closed

[2021-11-13 14:47] acalcutt commented on #359
Do you think this aria-pressed with aria-expanded change may have broken the attributions when in full screen?

I am testing the Terrain3d branch that is being worked on here ( https://github.com/prozessor13/maplibre-gl-js/commits/terrain3d ) and notice my attributions are no longer showing when in full screen (or above a width of about 615px). they show properly as a button when the screen is sma

[2021-11-13 15:14] acalcutt commented on #359
I tested reverting the changes in attribution_control.ts [here](https://github.com/astridx/maplibre-gl-js/commit/0d1d7956484dcdd030574b21096159bc1adfcb83#diff-7489f127e6e44739b4d10d3d5102ca30e47ff444ebba85ea9921e558e9468676) and it does in fact fix my full screen attribution issue

[2021-11-13 15:23] acalcutt opened #640 "Attribution not working at full screen"
I think the recent changes to attribution_control.ts have broken my attribution list at full screen (above 615px width). The attribution button shows when the window is smaller, but when the screen is bigger it used to show as a list of attributions but now doesn't show anything at all. I have tested reverting the changes in this commit and it fixes the issue ( https://github.com/astridx/maplibre-

[2021-11-14 20:22] astridx commented on #640
@acalcutt It would be great if you can check if https://github.com/maplibre/maplibre-gl-js/pull/643 fixes the problem for you.

[2021-11-14 20:28] Malvoz commented on #359
Just noting that the original suggested solution was not used.

Closing this issue as it is no longer relevant per https://github.com/maplibre/maplibre-gl-js/pull/557 (and because you've raised https://github.com/maplibre/maplibre-gl-js/issues/640 for the issue you're seeing).

[2021-11-14 20:28] #359 closed

[2021-11-15 00:51] acalcutt commented on #640
@astridx

I tested that change and it does fix the issue.

[2021-11-15 05:05] astridx commented on #640
Great. Thanks for the quick feedback and sorry for my mistake.

[2021-11-15 10:08] xabbu42 commented on #638
I also think that having a raster map as default would be a bit misleading. New users could get the impression they should build on that when in reality they need to find a vector data source and a style as useful starting point.

[2021-11-15 12:46] wipfli commented on #277
This seems related to named exports. See the discussion in #623.

[2021-11-15 13:46] HarelM commented on #277
I'm not sure named exports will solve this.
It requires a more granular approach to architecture and design - exporting a map object that does everything is exactly the opposite for example.
Unfortunately, I don't think we know the code good enough to support this at the moment.
This is somewhat similar to this request #166 - i.e. be able to use just part of this library or part of the funcionalit

[2021-11-15 18:47] acalcutt commented on #640
Thanks for fixing it. Most of the maps I created and use are free but require some type of attribution. while I doubt anyone is going to come after my small project, I'd rather be complying by the licenses :-)

[2021-11-16 06:24] astridx commented on #638
Please have a look at https://maplibre.org/maplibre-gl-js-docs/example/simple-map/

Is his what you want?

[2021-11-16 07:17] cigone-openindoor commented on #638
Nice !

[2021-11-16 10:48] cigone-openindoor opened #644 "Add ability to control feature altitude via a style spec property"
Clone this issue: https://github.com/mapbox/mapbox-gl-js/issues/3993

The main idea is to provide the ability to have symbol (marker, images, text) at a given elevation.

It would be convenient to mix with extrusion capabilities, like for 3D buildings.

[2021-11-16 13:20] yangjuncode commented on #644
this is the  painpoint when using  extrusion

[2021-11-16 15:19] zstadler commented on #182
Thanks @xabbu42 for taking this task in#645!

[2021-11-17 02:57] leehoss commented on #644
I second this feature ⭐

[2021-11-18 14:06] HarelM commented on #370
Also related to #334 I think.
In any case I now see this issue too when I build using webpack. I'll see what I can find in google...

[2021-11-18 14:08] HarelM commented on #610
This issue also has to be solved before releasing 2.0: #370 as it prevents building this library in webpack.
I'll look into it as I think I'm finishing up with the typescript stuff...

[2021-11-18 14:36] HarelM commented on #370
I did a small test where I added a `package.json` file to the dist folder inside the `node_modules` in this file all I wrote was:
`{ type: "commonjs" }` and this seems to solve this issue I believe.
Since the library is exported as commonJs and not esm adding this file as part of the build shouldn't be a big issue I believe...

[2021-11-18 14:37] HarelM commented on #334
Can you guys check my poposed fixed in the following comment:
https://github.com/maplibre/maplibre-gl-js/issues/370#issuecomment-972923342
I think it's a very simple fix that doesn't require a lot of changes...

[2021-11-18 14:41] HarelM commented on #474
This might also be related to the following comment:
https://github.com/maplibre/maplibre-gl-js/issues/370#issuecomment-972923342
I need to properly fix the typescript definitions anyway...

[2021-11-18 21:04] HarelM commented on #610
We also might want to wait for #165 to be merged assuming all the tests, review etc are done.

[2021-11-18 21:30] #338 closed

[2021-11-18 22:02] HarelM commented on #370
@boldtrn Can you check if this is fixed in version 2.0.0-pre.6? If so can you close this issue?

[2021-11-18 22:03] HarelM commented on #334
Can you guys check if this was fixed in version 2.0.0-pre.6? If so can you close this issue?

[2021-11-18 22:07] HarelM commented on #610
I've published 2.0.0-pre.6 and initial tests seems to look good, I haven't found any issues yet...

[2021-11-18 22:24] lhapaipai commented on #334
Tested with vite 2.6.x with dev server and after build (with rollup). I have default export and named exports.
Tested with svelte-kit . same result.
I dream !! 🎉

maybe wait for feedback with other bundlers

[2021-11-19 08:07] boldtrn commented on #370
Thanks a lot for fixing this issue, I just double check and can confirm that the build works 🚀

[2021-11-19 08:07] #370 closed

[2021-11-19 22:44] astridx commented on #610
I've tested 2.0.0-pre.6 with a [GatsbyJs ](https://www.gatsbyjs.com/) Website.

The Code for the Site is in the Repo https://github.com/astridx/gatsby-maplibre-blog-tutorial/

The `main `branch with `"maplibre-gl": "^1.15.2",` works fine.

The `test_maplibre_v2 `branch with `"maplibre-gl": "^2.0.0-pre.6",` has error while building.

[code]

Do I make a mistake?

[2021-11-19 22:51] HarelM commented on #610
I'm not familiar with gatsby, but the error seems like the problem we had with jest where performance is a global field of window and is not recognize by node environment.
I don't know if and how this is related but I know we changed it as part of the typescript migration.
If you are using gatsby you'll need to investigate what is the right solution I guess.
I don't mind waiting for this to be fix

[2021-11-20 11:50] astridx commented on #610
I have found a solution to my problem: https://github.com/astridx/gatsby-maplibre-blog-tutorial/commit/9a2c007c55ab54bb72099f7ce37182a0beb8b09b

More informations are here: https://www.gatsbyjs.com/docs/debugging-html-builds/#fixing-third-party-modules

[2021-11-21 11:23] wipfli opened #651 "[Jest] Some unit tests are not really unit tests"
Some unit tests like `test/unit/style-spec/migrate.test.js` and `test/unit/style-spec/validate.test.js` have logic to modify the expected test outcome based on an environment variable `process.env.UPDATE`. I would argue that these are not really unit tests because their test outcome is not just a small unit, it is a full file. What would be a better name for these tests and where should we store t

[2021-11-21 11:23] wipfli commented on #651
https://github.com/maplibre/maplibre-gl-js/blob/b7625d6606b7b2358751e7e2a03b93f42e3041be/test/unit/style-spec/migrate.test.js#L128-L139

[2021-11-21 11:34] HarelM commented on #651
I think these types of tests are integration tests.
I think `render` and `query` are also of that kind where you can update the expected results when needed (I also think they use the same env variable, right?).
I believe they should be in the `test/integration` folder much like the other integration tests, maybe in a folder of their own - `migration-tests`?

[2021-11-21 11:37] HarelM commented on #651
As a side note, the `integration` test folder can use some cleanup and order - i.e. put all the data in the `data` folder, put all the tests in `test-somthing` folder, leave the orchestration code in the `lib` folder and leave as little as possible files in the main folder.

[2021-11-22 10:24] JannikGM commented on #250
For our companys shaders I tried a couple of different solutions in the past, but ended up using the GLSL processor that's also being used by Mozilla right now: https://github.com/jamienicol/glsl-optimizer/issues/5#issuecomment-842149817
However, glsl-optimizer needs proper GLSL so I have some custom code-generators and pre-processors written in python3. The output is standard GLSL, which is then

[2021-11-22 10:31] JannikGM commented on #112
Should not have been closed; I think this is still a good idea.

[2021-11-22 10:33] JannikGM commented on #110
I think it might still be worth looking into this. Reopened

[2021-11-22 10:40] HarelM commented on #250
@JannikGM I'm not sure I know how to handle/solve this issue. If you don't have the time for it, which is perfectly fine, I suggest to close this...

[2021-11-22 10:48] JannikGM commented on #111
Reopening.

I still believe this is a valid motivation and maplibre should be able to handle this use-case.

I'm not sure if direct tilemap support is really necessary though. I think focus should be a on good underlying API which could easily be used to implement this feature.
We also had similar discussions about manually pre-fetching tiles (https://github.com/AbelVM/maplibre-preload) which is n

[2021-11-22 11:44] cigone-openindoor commented on #636
Pull request here:
https://github.com/maplibre/maplibre-gl-js-docs/pull/93

[2021-11-22 11:44] #636 closed

[2021-11-22 13:09] JannikGM commented on #77
Can confirm. I have no problem running the test in Firefox 94.0.1 (64-bit) or Chrome Version 95.0.4638.69 (Official Build) (x86_64) running cc51a99f7fe4ed402df10109ca8971bbb5d9f434

Not sure what resolved the problem; but at least it doesn't yield a white page anymore.

Closed.

[2021-11-22 13:09] #77 closed

[2021-11-23 10:16] clementgayvallet commented on #575
I investigated the issue for firefox and after some logging I found this error happens when the sprite index response is received **after** the sprite image.

There are 2 reasons for this:
1. When the sprite image is received first, in the [load_sprite](https://github.com/maplibre/maplibre-gl-js/blob/main/src/style/load_sprite.ts#L11) function, the image reference is kept and the maybeComplete() f

[2021-11-23 11:43] xabbu42 commented on #141
For people finding this issue, in the end we settled on {ratio} instead of {r} as that feature already existed in maplibre-gl-native.

[2021-11-23 13:47] cigone-openindoor opened #659 "Define sky layout"
After letting maxpitch going until 85, we see a black sky.
See: https://github.com/maplibre/maplibre-gl-js/pull/574

How could I change the default black sky ?

![image](https://user-images.githubusercontent.com/69067574/143035725-ea6dd291-5242-4e86-828e-d165b69d285f.png)

[2021-11-23 14:22] HarelM commented on #659
This is probably the default color of the canvas/web gl, I wonder where it's defined...
Feel free to investigate and send a PR. I guess this should be configurable... :-)

[2021-11-23 15:09] cigone-openindoor commented on #659
That's OK. background-color CSS is OK !
[code]
I could create a specific example in the doc...

[2021-11-23 15:09] #659 closed

[2021-11-23 15:37] cigone-openindoor commented on #659
[code]

<img width="1440" alt="Screenshot 2021-11-23 at 16 37 12" src="https://user-mages.githubusercontent.com/69067574/143054905-f9d93e6e-b489-448b-9119-c38b54f1d228.png">

[2021-11-23 17:43] jayarjo opened #660 "Arrow icon not auto-oriented in the direction of the line?"
I have a symbol defined like this:

[code]

 It's an arrow. So having it as `line-center` I would expect it to be auto oriented in the direction of the line. But from what I see it doesn't happen. I was under impression that such behavior is guaranteed. Is it not?

 Tried `icon-keep-upright: true` as well, but it simply makes all arrows to get oriented in the opposite direction, but again, ignorin

[2021-11-23 18:22] jayarjo commented on #660
Don't what was wrong - now arrows appear properly oriented.

[2021-11-23 18:22] #660 closed

[2021-11-23 19:31] HarelM commented on #659
A specific example with the gradient in issue #574 that looks like sunset can be great! :-)

[2021-11-24 14:14] choffa opened #661 "Implement `cooperativeGestures` similar to Mapbox"
## Motivation

Both Google and Mapbox has standardised around having an option to require the using a meta key to scroll on desktop (ctrl or ⌘ depending on platform) or using two fingers to pan on mobile/touch. This is to prevent unwanted scroll-capture. A similar feature should exist in Maplibre as well. While it has been suggested in other issues to do this manually, I think it is easier, more c

[2021-11-24 14:40] HarelM commented on #661
I think this is a duplicate of #234.
The comments I made there seems relevant to this issue I believe. You can check with the author there why they chose to close the original issue.
Please close this one of this is a duplicate, and key me know if you would like me to reopen the other one.

[2021-11-24 14:51] choffa commented on #661
Yes it is the same basic idea as #234 and it is the issue that i reference where the suggestion to do this manually was made. If you feel that it is more appropriate to re-open that issue, go right ahead, and we can discuss further there :)

[2021-11-24 14:54] HarelM commented on #661
Closing in favir if #234

[2021-11-24 14:54] #661 closed

[2021-11-24 14:55] HarelM commented on #234
Was requested again as part of #661

[2021-11-24 15:32] HarelM commented on #575
I've seen the maybe completed code. It doesn't look very good in my opinion.
Maybe changing it to use promises might be a better approach instead of using a transparent pixel...?

[2021-11-25 08:20] ArtemFokin commented on #234
Please just implement 'cooperativeGestures' option, it's already included in mapbox-gl since v2.6
https://jsfiddle.net/api/post/library/pure/
https://www.mapbox.com/blog/mapbox-gl-js-v2-6
And also mapOptions={{cooperativeGestures: true}} doesn't work.

[2021-11-25 08:29] HarelM commented on #234
We can't copy their code, it's proprietary now.

[2021-11-25 08:44] jxlarrea commented on #234
@ArtemFokin @HarelM Shortly after I opened this issue a few months ago I implemented it, even before it was a thing in Mapbox. I don't know how it works in Mapbox since I stopped using them a long time ago but the implementation behaves just like Google Maps. You can see it in action here: https://istheservicedown.com/problems/charter-communications/map

Honestly, it shouldn't be that hard to crea

[2021-11-25 08:55] HarelM commented on #234
@jxlarrea if you can share your code here it would be a good starting point.
I agree this shouldn't be too hard to implement.

[2021-11-25 10:51] petrot opened #662 "Offline cached raster tiles?"
**maplibre-gl-js version**:

### Question

Is it possible to save raster tiles like in this leaflet/pouchDB solution? Can I catch the loaded images somehow?
https://github.com/MazeMap/Leaflet.TileLayer.PouchDBCached

[2021-11-25 12:14] HarelM commented on #662
You can use the `addProtocol` and decide exactly how to handle the fetching and caching of the tiles.
I'm using it with cordova and sqlite. I think there was another issue or discussing about it, is worth searching...
I also answered a SO question about it, but I'm have a hard time finding it.
In general, this is possible...

[2021-11-25 13:48] petrot commented on #662
@HarelM ok, thaks! So I can save tile data to db and load tiles from db throught the addProtocol logic?

[2021-11-25 14:01] HarelM commented on #662
Exactly. Pouchdb is a bit slow when it comes to 100k items, I'm using dexie.js in order to use indexdb straight.

[2021-11-26 12:53] smellyshovel opened #663 "[TypeScript] map.flyTo(options) - the "options" doesn't implement CameraOptions nor AnimationOptions"
**maplibre-gl-js version**: 1.15.2

**browser**: -

### Steps to Trigger Behavior

 1. Try to pass `padding: { left: 100 }` to the `flyTo`'s `options` parameter.

### Link to Demonstration

![Screenshot_20211126_154731](https://user-images.githubusercontent.com/9782236/143583416-6b41c5d6-88c3-4a93-b2e2-43ec6c40151d.png)

### Expected Behavior

TSC shouldn't complain.

### Actual Behavior

The Docs

[2021-11-26 12:56] HarelM commented on #663
I've recently changed this a bit, can you check if I made the right correction? It should be in map.ts file.

[2021-11-26 13:23] smellyshovel commented on #663
@HarelM Not sure what you're talking about. Should I look for map.ts in sources?

Here's what I've managed to find in `src/index.d.ts`:
![Screenshot_20211126_162248](https://user-images.githubusercontent.com/9782236/143587553-655f9196-d777-42f4-b8c8-290363b1f0e3.png)

Looks legit to me, though there's still no proper type ingeritance.

[2021-11-26 14:10] HarelM commented on #663
Version 2.0.0-pre.6 is using the latest code which is already written in typescript.
If the flyTo method is correctly typed it means that this is solved in latest version...

[2021-11-26 14:31] smellyshovel commented on #663
@HarelM Ah, now I see. Thanks for the response.

[2021-11-27 08:47] jayarjo opened #664 "How would one access vector tile data as JSON?"
I'd ask it on SO, but I think it is too specific/advanced. Basically what I wonder about is whether there is a way to access a result of vector tile to JSON conversion?

I've inspected `MapEventData` in `sourcedata` and noticed that there's some data stored as ArrayBuffer under `tile.latestRawTileData`, but how would I extract that? Simply convert to text? I believe there should be some kind of ut

[2021-11-27 09:43] HarelM commented on #664
There's a npm package to convert pbf to geojson called vt-geojson.
But I'm not sure I understand the question entirely.
Can you elaborate on the scenario please?

[2021-11-27 09:43] #664 closed

[2021-11-28 19:48] acalcutt commented on #640
After some further testing, I still don't think this is quite right. The fix above did make it so the attribution works at full screen, however when it shows up as a button and I click it, I am not seeing any attributes, like this

![image](https://user-images.githubusercontent.com/3792408/143783355-70bdac1d-50ce-4884-a075-c877d078e6e7.png)

Here is an example ( https://stackblitz.com/edit/web-pla

[2021-11-30 14:22] vanilla-lake opened #669 "map.isSourceLoaded(...) may return true while a GeoJSON source is still loading"
**1.15.2**:

### Steps to Trigger Behavior

After the `map.load` event has fired, call `GeoJSONSource.setData(...)` twice, the first time passing a URL to a small GeoJSON file and the second time passing a URL to a large GeoJSON file.

### Link to Demonstration

https://jsbin.com/colaxiboka/2/edit?html,output

### Expected Behavior
- `map.isSourceLoaded(...)` should return `false` until the file s

[2021-11-30 14:48] vanilla-lake commented on #669
I think the problem lies in the `actor.send(...)` callback in `GeoJSONSource._updateWorkerData` at the following line: https://github.com/maplibre/maplibre-gl-js/blob/d5d4e1d2300afd61830da2f2a9a79ffb5f60b3ae/src/source/geojson_source.ts#L286

The `actor.send(...)` callback runs once for each `GeoJSONSource.setData(...)` call. Since the first file is small and should thus load quickly, the `actor.s

[2021-11-30 19:39] HarelM commented on #669
This is an interesting analysis, thanks for sharing!
So the problem is some kind of race condition on the _loaded variable, right?
I see in the code that there's a check for abandoned, maybe two calls to setData should somehow trigger the abandoned for the first request. IDK...
In any case I would suggest to try and create a test that fails due to this race condition and see that it passes after y

[2021-11-30 22:03] vanilla-lake commented on #669
No problem, and yes, it seems to be a race condition on `GeoJSONSource._loaded`. I'll try creating the test and see if I can work on a potential fix.

[2021-12-01 17:00] vanilla-lake commented on #669
Based on the following unit test, it looks like the pending call is always expected to run to completion; only calls that have not yet started loading are abandoned when a new call is made: https://github.com/maplibre/maplibre-gl-js/blob/b2c300a69d3deb7f36099898acde2b1a3977bd45/test/unit/source/geojson_worker_source.test.js#L225-L245

Based on that, should we show data from the previous pending ca

[2021-12-01 18:46] HarelM commented on #669
I believe we should present data from previous call to setData until a new data is ready, this is at least what I would expect.

[2021-12-01 20:06] vanilla-lake commented on #669
Sounds good. Thanks!

[2021-12-02 17:41] HarelM commented on #669
Fixed by #684

[2021-12-02 17:41] #669 closed

[2021-12-03 14:29] vanilla-lake opened #694 "MapDataEvent#isSourceLoaded is true when a "dataloading" event fires for a GeoJSONSource"
**1.15.2**:

### Steps to Trigger Behavior

Call `GeoJSONSource#setData(...)` with a `dataloading` event listener registered.

### Link to Demonstration

https://jsbin.com/bigupoyejo/2/edit?html,console

### Expected Behavior

`MapDataEvent#isSourceLoaded` should be `false` when the `dataloading` event fires for the GeoJSON source.

### Actual Behavior

`MapDataEvent#isSourceLoaded` is `true` when

[2021-12-05 01:50] #26 closed

[2021-12-06 01:48] #20 closed

[2021-12-06 01:48] #6 closed

[2021-12-06 01:48] #3 closed

[2021-12-06 11:14] wipfli commented on #6
Has been implemented with the typescript migration.

[2021-12-06 14:02] dannybloe opened #700 "refreshExpiredTiles not working when offscreenCanvasSupported #10491"
Hi folks,

In mapbox there was a bug fix merged for this bug https://github.com/mapbox/mapbox-gl-js/issues/10491. Is it possible to merge that into maplibre as well? We just found out that we have to revert to an older version of mapbox because the fix (pr [Always retain raster tile cache control data #10494](https://github.com/mapbox/mapbox-gl-js/pull/10494/)) was only merged in 2.x branch so it

[2021-12-06 14:07] HarelM commented on #700
We can't copy code from mapbox 2.x due to licensing issues.
If you know who sent the PR and if they are willing to do it here that's another story...

[2021-12-06 14:11] jaapster commented on #700
In what way would that be different from copying from Mapbox 2.x? The resulting code would be similar.

[2021-12-06 14:12] dannybloe commented on #700
This is a difficult one. That would almost imply this bug cannot be fixed. Btw, the fix was made by @anycalder who is not a mapbox employee so it seems.

[2021-12-06 14:16] HarelM commented on #700
The fact that the resulting code would be similar is not a problem if the person who is writing the code never looked at the code in 2.x that solves this issue.
If you fix the code in the same way but have never looked at mapbox's code then it does not mean you copied.
If any of you know how to fix this issue without looking at the mapbox version 2.x code and can submit a PR it's valid too.

[2021-12-06 14:20] wipfli commented on #700
@nyurik, @klokan; would be great if you could share your view on this.

[2021-12-06 14:20] dannybloe commented on #700
So if some function should do `return true;` in 2.x in order to fix a bug then anybody who ever saw the code of 2.x could never fix that same bug in that same equivalent function in maplibre by also returning `true` there?

[2021-12-06 20:08] vanilla-lake commented on #669
re: https://github.com/maplibre/maplibre-gl-js/issues/669#issuecomment-983953402, do you think it could be worth adding a configuration option to GeoJSON sources that prevents stale data from being shown?

Our use case is that we call `GeoJSONSource.setData(...)` with a URL generated from a user query. If the user issues a query while the results from a previous one are loading, we don't want the

[2021-12-06 20:29] HarelM commented on #669
Personally, I would like to avoid complicating geojson with this kind of options... I'm not even sure where would one place such configuration option...
Can't you simply `setData` to empty array while waiting for the second request to load?

[2021-12-06 20:42] vanilla-lake commented on #669
We tried doing the following:
[code]
Unfortunately, the `GeoJSONSource.setData({type: "FeatureCollection", features: []})` call gets abandoned when `GeoJSONSource.setData(url2)` is executed because of the following code: https://github.com/maplibre/maplibre-gl-js/blob/ddc348fe5892db8ec4884c2da37d4c3fe15f3c5d/src/source/geojson_worker_source.ts#L132-L135

[2021-12-06 21:02] HarelM commented on #669
What about removing and re-adding the source in order to abandon the current call and remove the data?

[2021-12-06 21:10] vanilla-lake commented on #669
I'd need to try it... My concern with that solution however is that, unless I'm wrong, all layers that use the source will need to be removed and re-added. While it's certainly possible to do that, it seems a bit cumbersome.

[2021-12-07 10:46] jaapster commented on #445
For development the watch functionality is very useful but at the moment it seems that the 'build' folder is watched, not the 'src' folder which seems strange as I would expect changes to be made to files in 'src'.
Is that on purpose?

[2021-12-07 10:58] HarelM commented on #445
It's useful but broken. Feel free to submit a PR to fix this.

[2021-12-07 16:44] jazzzz commented on #445
I have [a branch that fixes the `watch` scripts](/jazzzz/maplibre-gl-js/tree/watch), I intend to make a PR but I still need to fix some things, mostly moving back the `types` directory to the root directory.

[2021-12-07 16:46] HarelM commented on #445
Types directory were removed, weren't they?

[2021-12-07 16:47] jazzzz commented on #445
Then it will be easier!

[2021-12-07 21:01] acalcutt commented on #640
I've tested the fixes in ( https://github.com/maplibre/maplibre-gl-js/pull/668 ) and they seem to work as expected (after a bit of back and forth there). they fix my issue observed in  ( https://github.com/maplibre/maplibre-gl-js/issues/640#issuecomment-981141058 )

I think it would be a good idea to approve them since the one currently in the repository does not work right. without these fixes, t

[2021-12-08 09:27] HarelM commented on #116
I think the most valuable UX related to this feature is that the map is "there" when you arrive to the destination.
It's nice that the while the flight is animating the map is also presented, but I see it as a lesser improvement to UX, at least from my point of view.
I'm not sure how preloading and moving will work in terms of splitting them, feels odd to me - i.e. write something like: `map.floyt

[2021-12-08 20:49] klokan commented on #182
Discussed today on the SC meeting.

+1 for the idea - it seems to be a nice general implementation. Thanks for the effort!

Could we update the documentation in
https://github.com/maplibre/maplibre-gl-js-docs/tree/main/docs/pages/style-spec

Especially:
- https://maplibre.org/maplibre-gl-js-docs/style-spec/sources/
- https://maplibre.org/maplibre-gl-js-docs/style-spec/sprite/
- https://maplibre.or

[2021-12-10 01:46] #220 closed

[2021-12-10 11:31] AbelVM commented on #116
My [tiny plugin](https://github.com/AbelVM/maplibre-preload) already has that kind of pattern, you can call `map.cachedFlyTo(...)` to just preload the tiles or `map.cachedFlyTo(..., {run:true})` to preload **and** trigger the `flyTo` method.

It would be easy to overload the original methods with (an improved version of) my code, I just tried to be the least invasive as possible in the plugin

[2021-12-10 16:21] jazzzz commented on #445
I created the PR: #704.

[2021-12-11 08:19] HarelM commented on #329
The situation was improved after fixing the render tests. However,  this is still important, reopening.

[2021-12-13 13:14] r3dz0r opened #714 "Event listeners doesn't work with heatmap layer"
I think this is a solution for this bug https://github.com/mapbox/mapbox-gl-js/issues/9112

[2021-12-13 14:07] wipfli commented on #714
Thanks for posting. Can you elaborate a bit more?

[2021-12-14 07:58] r3dz0r commented on #714
Anything specific you need to describe? In principle, everything is written in the link from mapbox repo. Except that I used the click event

[2021-12-14 13:25] wipfli commented on #610
What is the status on the index.d.js file @HarelM? I feel like I lost track there a bit.

[2021-12-14 13:43] HarelM commented on #610
I think it's OK now, it can be improved but in general I was able to create a branch of ngx-maplibre-gl that complies and works as expected with version 2.0-pre.6

[2021-12-14 14:08] astridx opened #715 "Do we need Chalk"
See
https://github.com/maplibre/maplibre-gl-js/pull/682
and
https://github.com/maplibre/maplibre-gl-js/pull/699#discussion_r763175120

[2021-12-14 15:39] wipfli commented on #714
Can you share a jsbin with some code?

[2021-12-14 18:12] wipfli commented on #610
Great. Thanks for the update.

[2021-12-14 18:14] wipfli commented on #610
In the changelog I read this

** Breaking Change ** removed baseApiUrl as it was used only for mapbox related urls

I guess this means that sources starting with `mapbox://` won't be supported anymore. If so, I think we need to reflect this breaking change also in the style spec and bump its major version. We also need to update the style spec validation script.

[2021-12-15 14:51] bdullemond commented on #582
Hi j5kay, thanks for the response. I guess my sample code pen was not clear. I do want the map to end up over centered over africa as my data is spread out world wide (although the trick for spanning the antimeridian is going in the toolbox for later!). Its the animation with the jerk that I am hoping to avoid.

I've updated my codepen above with a point at 0,0 to show that is where i want to be c

[2021-12-15 19:09] jleedev opened #717 "Circle layer won't render on Mali GPU"
Circle layers are having trouble rendering on my device (specifically Acer Chromebook Spin 311 with MediaTek CPU and Mali-G72 GPU). I can reproduce on the built-in Chrome browser as well as Firefox for Android. (Firefox in Crostini uses a software renderer and is unaffected.)

This example from the docs renders the polygon only, not the circles: https://maplibre.org/maplibre-gl-js-docs/example/mul

[2021-12-16 02:48] 1042041156 opened #718 "throw error mismatched image size , when text-field is chinese"
**maplibre-gl-js version**:2.0.0-pre.6

**browser**:chrome

### Steps to Trigger Behavior

 1. when symbol layer > layout> text-field is chinese
 2.  throw error  "mismatched image size"

[maplibre-gl-unminified.txt](https://github.com/maplibre/maplibre-gl-js/files/7724218/maplibre-gl-unminified.txt)
[testhtml.txt](https://github.com/maplibre/maplibre-gl-js/files/7724220/testhtml.txt)

[2021-12-16 02:49] 1042041156 commented on #718
plese  Change the suffix with .js an .html

[2021-12-16 10:21] r3dz0r commented on #714
add some comments in code https://jsbin.com/seveqid/edit?html,js,output

[2021-12-16 14:43] HarelM commented on #714
Thanks for sharing! I've looked at the code to see if I can spot why the click is not returning anything but I didn't find the right place.
Feel free to investigate and propose a PR. I guess the main problem is that the heatmap layer shape is hard to predict and therefore the click event is problematic.
Having said that, I assume it is possible :-)

[2021-12-16 18:03] lachlanphillips opened #719 "Incorrect near/far planes on low FOV"
**maplibre-gl-js version**: 1.15.2

**browser**: Chrome

### Steps to Trigger Behavior

 1. Place a 3D object in your environment (I'm using [LittlestTokyo.gltf](https://github.com/mrdoob/three.js/blob/dev/examples/models/gltf/LittlestTokyo.glb))
 2. Set the FOV to something small via map.transform.fov = 1

### Expected Behavior
Changing the FOV will elegantly adjust the nearZ value

### Actual Be

[2021-12-16 18:34] wipfli commented on #188
#716

[2021-12-16 20:10] jleedev commented on #717
This is also fixed by adding `'circle-pitch-alignment': 'map'`.

[2021-12-20 08:55] turban commented on #61
Any progress on this? :-)

[2021-12-20 09:02] HarelM commented on #61
@turban can you create a test that reproduce this and send a PR for it? I'm sure that one we have a test for this it will be easy to fix the issue.
As far as I understand the changes need to be updating supoercluster package and removing the above `Math.min` and using `options.clusterMaxZoom`.
Submitting a test to showcase this issue would be great.

[2021-12-20 17:30] turban commented on #61
Codepen: https://codepen.io/turban-the-looper/pen/NWavKqW

The issue is that the cluster is not shown on the innermost zoom level (18).

[2021-12-20 17:33] HarelM commented on #61
@turban thanks! any chance you can create a unit/render test in this repo?

[2021-12-21 11:01] MartinStefko opened #725 "setData() integration with useEffect() hook, accessToken"
**maplibre-gl-js version**: 1.15.2

### Question
Hi all,

We were using Leaflet in our company with Mapbox tiles. I have started to experiment with maplibre-gl. I have got 2 questions actually. 

1.) The prototype I created is using React hooks. It was built on mapbox-gl 2.6.0 initially. I was able to migrate most of its functionality to MapLibre, only thing that is not working is setData() inside

[2021-12-21 11:11] HarelM commented on #725
I'm not sure this should be a  issue, it feels to me like a discussion.
In any case, there's a react project to wrap mapbox/libre, I suggest to use it and see what issues you have there. Checkout awesome-maplibre for the links to the relevant projects.
In 2.x accessToken will be removed from the code so the above example won't work. If you wish to use mapbix data you are free to do so by implement

[2021-12-21 12:58] MartinStefko commented on #725
Thank you! I will look more into https://github.com/mapcomponents/react-map-components-maplibre.

[2021-12-21 20:32] HarelM commented on #445
Fixed by #704

[2021-12-21 20:32] #445 closed

[2021-12-21 20:36] HarelM commented on #640
Fixed by #668

[2021-12-21 20:36] #640 closed

[2021-12-22 08:56] everhardt commented on #153
I also see this error once in a while, I don't think it is solved.

[2021-12-22 09:32] HarelM commented on #153
A jsbin would help a lot here to try and see this error, or a PR with the relevant fix.
I tend to agree that simply checking for null is not a great solution as the problem is probably deeper somewhere.
I'll reopen nevertheless.

[2021-12-22 11:30] everhardt commented on #153
It can return `null`, at https://github.com/maplibre/maplibre-gl-js/blob/e78ad7944ef768e67416daa4af86b0464bd0f617/src/symbol/projection.ts#L382-L383

I have not identified a case that could cause that condition on line 382 to be true. In the stack trace from the error is see, `placeGlyphsAlongLine` is called by https://github.com/maplibre/maplibre-gl-js/blob/e78ad7944ef768e67416daa4af86b0464bd0f61

[2021-12-22 12:57] vanilla-lake opened #726 "Some events can be fired after Map#remove has been called when the WebGL context is lost and restored"
**maplibre-gl-js version**: 1.15.2

### Steps to Trigger Behavior

 1. Create a `Map`.
 2. Register a "webglcontextlost" event handler on the `Map` that registers a "move" event handler and then calls `Map#remove` followed by `WEBGL_lose_context#restoreContext`.
 3. Call `WEBGL_lose_context#loseContext`.
 4. Notice that the "move" event fires even though the map has been removed.

### Link to Demo

[2021-12-22 20:52] HarelM commented on #726
Fixed by #727

[2021-12-22 20:52] #726 closed

[2021-12-26 14:36] wipfli opened #729 "TypeError: done.fail is not a function"
In the Jest migration, we have replaced `t.fail('error x occurred')` with `done.fail('error x occurred')`, see here: https://github.com/maplibre/maplibre-gl-js/search?q=done.fail

However, when I intentionally make a test reach such a `done.fail` statement, I get this error in the console:

[code]

Are we sure that `done.fail` is the right way to fail a test in Jest?

[2021-12-26 14:48] HarelM commented on #729
I guess it's not clear and I don't know the answer.
The following thread is talking about it:
https://github.com/facebook/jest/issues/2129
Also this SO question:
https://stackoverflow.com/questions/42176642/in-jest-how-can-i-make-a-test-fail
Can you test using just `fail()` without `done.fail()`?

[2021-12-27 16:55] wipfli commented on #132
Poor GitHub seems to have a hard time will all our CI scripts.

[2021-12-28 13:38] xabbu42 commented on #445
Is it possible/easy to also resurrect and fix watch-benchmarks and use the watch scripts in start-bench? This way we would have the full original functionality back.

[2021-12-28 14:48] HarelM commented on #445
@xabbu42 feel free to pursue this :-) Maybe @jazzzz can help out as well.

[2022-01-01 10:06] cioddi commented on #725
Can you provide a codesandbox or codepen example with all the code involved? From the last code snippet shown in your code I have doubts even the "flyTo effect" can work like that. You are creating a "block scoped" map const within the useEffect callback. But theres is probably a crucial part of the code hidden in "..." (like ```setMap(map)```). If that is the case it is most likely a timing issue

[2022-01-02 10:32] wipfli commented on #729
According to the [Jest documentation](https://jestjs.io/docs/asynchronous#callbacks), one should use `done('error message')`. The docs provides the following example:

[code]

[2022-01-02 12:17] #729 closed

[2022-01-03 14:54] xabbu42 commented on #445
@jazzzz it would be great if you can look into this. I did nothing yet as i don't know the involved tools very well.

[2022-01-03 19:27] jazzzz commented on #445
#754

[2022-01-04 10:34] xabbu42 commented on #445
Thank you very much!

[2022-01-04 12:47] turban commented on #61
Sorry, I don't have the capacity.

[2022-01-04 13:54] vincent-lecrubier-skydio opened #755 "Occlusion issue with ThreeJS"
Maplibre and Three JS integration has problems with wrong occlusion.

**maplibre-gl-js version**: 1.15.2

**browser**: All

### Steps to Trigger Behavior

 1. Go to https://maplibre.org/maplibre-gl-js-docs/example/add-3d-model/
 2. Rotate the view to align The street "Mars Street" Behind the antenna 3d Model.
 3. See occlusion issue with maplibre street incorrectly occluding the Three JS model:

<

[2022-01-06 11:21] j8seangel opened #759 "Plans for shared code formatter?"
### Question

I've been struggling with the default vscode-prettier formatting rules so I needed to disable the formatOnSave for this project.

Is there any plan for adding [prettier](https://prettier.io/docs/en/why-prettier.html) on the project? (I could do it)
or any reason to avoid it?

[2022-01-06 12:47] HarelM commented on #759
I don't have any objections.
We currently use lint for the code.
If lint doesn't cover this, than prettier is probably a good solution.
Can you elaborate which part is not cover by lint and can't be covered by adding a new rule?

[2022-01-07 04:43] frank-unovica commented on #160
+1

[2022-01-07 05:04] astridx commented on #759
I think the addition of prettier is comfortable. You don't always have to call `npm run lint`. The editor formats when saving. There are no other advantages, right?
The disadvantage is that we then have another dependency that has to be kept up to date.

[2022-01-07 08:56] j8seangel commented on #759
Prettier and Eslint do different things, prettier only takes care of formatting while eslint takes care of code quality [link](https://prettier.io/docs/en/comparison.html#how-does-it-compare-to-eslinttslintstylelint-etc)
We can define rules like: `max-len`, `no-mixed-spaces-and-tabs`, `comma-style` and be consistent across the codebase and it can be run as an [Eslint plugin](https://prettier.io/do

[2022-01-07 12:30] HarelM commented on #759
Which part won't be covered by lint? I'm not familiar enough with prettier and reading your comment again wasn't enough for me to understand, sorry for nagging, but as @astridx said, we have enough dependencies we are struggling to maintain :-)

[2022-01-07 13:45] gregorwebdev opened #761 "setClusterProperties"
## Motivation
To dynamically create clusterProperties in an existing geojson source/layer.  Therefore we could set the expressions created from the data's property.

### Implementation
Like setData method, but on workerOptions.clusterProperties, before the expression validation runs. setClusterProperties would accept an object with property names(keys) and with expressions as values.
I'm already s

[2022-01-07 13:56] HarelM commented on #761
It's unclear from the above comment what is the problem statement and proposed solution.
A code example of what is currently the problem and how an api change can solve it along a screenshot or an animated gif could go a long way :-)

[2022-01-07 14:05] gregorwebdev commented on #761
Maybe it's just related to my framework, because my stylesheet is an external yaml file.
This is my mock up case: https://codepen.io/gregi1991/pen/qBPEjMm
But in reality i don't know about the exact number of colors(clusterProperties), so i need to generate these expressions on the fly.

[2022-01-07 15:48] j8seangel commented on #759
It takes care of things like the max length of a line, cleans white-spaces or ensures every indentation is consistent but I understand the charge of adding more dependencies so I'm going to close this for now.

@HarelM I just wanted to share [an example](https://github.com/GlobalFishingWatch/maplibre-gl-js/pull/3/files) by running prettier in the entire project so you know a bit more about prettie

[2022-01-07 15:48] #759 closed

[2022-01-07 16:02] HarelM commented on #759
The above 4 example exists for lint as well. I'm all for adding more rules to lint, don't get me wrong... If there are other stuff perttier can help with it might be beneficial, IDK...

[2022-01-07 18:39] MartinStefko commented on #725
Hi @cioddi, thank you for response. Here are examples:

1.) [](https://codesandbox.io/s/my-maplibre-map-1-tjd6u) geoData can be loaded with addSource(). After clicking to center of the map (or anywhere) flyTo() happens. So far so good.

2.) [](https://codesandbox.io/s/my-maplibre-map-2-5mr3v) geoData being set by setData() does nothing, while flyTo() works after clicking to the center of the map.

[2022-01-07 22:51] astridx commented on #759
My comment should not be misunderstood, too. I can see the advantages of prettier, especially editong one file in the editor. Maybe it's just not knowing. I believe that it takes a lot of effort to keep eslint and prettier in sync.

I run my configuration of prettier once and saved it in this [commit](https://github.com/maplibre/maplibre-gl-js/pull/758/commits/283e90dc2b012da795d878c022d89a15cbca3

[2022-01-08 20:06] wipfli commented on #610
@HarelM can you comment on the status of the `mapbox://` protocol in version 2?

[2022-01-09 05:03] HarelM commented on #610
`mapbox://` is not supported anymore in 2.0 out of the box. You can use `addProtocol` to customize it as you want.

[2022-01-09 14:45] xabbu42 commented on #440
I fixed the script itself in #765. It was originally introduced by https://github.com/mapbox/mapbox-gl-js/pull/8645. I don't know a lot about web gl but they do look useful. They are fast enough to generate and bisect a possible regression in reasonable time though so as of now I don't see the need to generate them in ci.

[2022-01-09 22:26] mathiash98 commented on #715
Seems like it  clear to remove it

[2022-01-11 11:37] lukashass commented on #205
To this point of displaying the attribution by default, I don't think the current behavior complies with the mentioned guideline because it __instantly__ "collapses when the map is less than 640 pixels wide" (see https://maplibre.org/maplibre-gl-js-docs/api/markers/#attributioncontrol).

As per the guideline:

I implemented the second option by replacing the non-compact attribution with a compact

[2022-01-13 13:31] vincent-lecrubier-skydio opened #768 "[v2] performance is not defined"
**maplibre-gl-js version**: v2.0.0.pre.6

**browser**: Chrome

### Steps to Trigger Behavior

 1. install maplibre-gl v2 in a nextJS app
 2. run the app

<img width="996" alt="Screenshot 2022-01-13 at 11 12 47" src="https://user-images.githubusercontent.com/94416008/149320177-8fb82c6b-39af-4f51-98c8-cc4826c1cf16.png">

### Link to Demonstration

https://codesandbox.io/s/sharp-shirley-7pxbp?file=/p

[2022-01-13 15:05] vanilla-lake opened #769 "Allow setting a custom pixel ratio"
## Motivation

When exporting a map to an image, there are many cases where we might want the image to have a different size in pixels than the in-app map all while keeping the same extent and zoom level. In other words, we want to scale the map. One reason to do this is to allow exporting at a certain DPI, like https://github.com/watergis/maplibre-gl-export does.

## Design Alternatives

The way

[2022-01-13 18:21] HarelM commented on #768
Does this work with version 1.15?

[2022-01-13 18:31] j8seangel commented on #759
It should be solved by the [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier) config

Completely agree, eslint is a must but I just think the combination of both makes the code style more robust and for example easier to keep in sync with other forks.

It has its benefits but I've just realised it also comes a lot of effort as there will be a lot of changes and potential

[2022-01-13 19:58] vincent-lecrubier-skydio commented on #768
Yes

[2022-01-13 20:04] HarelM commented on #768
I'm not a nextJS expert, so you'll probably need to investigate it on your own.
I know that in version 2.0 we have switched from using `window.performance` to just `performance`, which sounds like the root of this issue.
Having said that, it was done to simplify the build and the code and in general didn't cause any issues in the browser. So it would be great if you could try and tackle this, or e

[2022-01-13 21:06] acalcutt commented on #768
I've seen this "performance is undefined" error before when I was working on my IE compatible version. It was something with the code in src/util/browser.ts

[code]

I wasn't sure how to fix it correctly there so I ended up [just changing it](https://github.com/acalcutt/maplibre-gl-js/commit/c26cbf716ed784bdcff58a085c8255b3a2805e2e)
`const now = Date.now.bind(Date);`
which helped me get around it

[2022-01-13 21:17] #610 closed

[2022-01-13 22:03] HarelM commented on #769
I'm not sure this should be a map property and not a global property like base url and access token were...?

[2022-01-14 05:38] smellman commented on #718
I get same error with Japanese text-field.

https://codepen.io/smellman/pen/dyVwjYm

[2022-01-14 05:45] smellman commented on #718
It raise from here.
https://github.com/maplibre/maplibre-gl-js/blob/main/src/util/image.ts#L24

We provides English style and Japanese style.
English style: https://tile.openstreetmap.jp/styles/maptiler-basic-en/style.json
Japanese style: https://tile.openstreetmap.jp/styles/maptiler-basic-ja/style.json
English style run well but Japanese style can't run in v2 release.

[2022-01-14 06:12] smellman commented on #718
I fixed it with `localIdeographFontFamily: null` to disable local font.

[2022-01-14 08:35] astridx commented on #768
In a plugin there was an issue with nextJs and `windows`, what is sollen:
https://github.com/maplibre/maplibre-gl-compare/issues/3#issuecomment-898772048

[2022-01-14 10:07] smellman commented on #718
maybe fix this issue by [PR 775](https://github.com/maplibre/maplibre-gl-js/pull/775)

[2022-01-14 11:45] RobinKamps opened #776 "maplibre v2.0.0 typings angular 13"
typings can not be found / are missing in 'node_modules/maplibre-gl/dist/maplibre-gl.d.ts'
 e.g. TriangleIndexArray, LineIndexArray, LineStripIndexArray, VectorTileFeature, TransferableGridIndex,  setSourceType, and a few more.

[2022-01-14 11:54] HarelM commented on #776
Types are now generated from the code. See the breaking changes in the release notes.
If there are other missing types, feel free to submit a PR.

[2022-01-14 12:24] vanilla-lake commented on #769
I'm not sure... Having it as a global property would be a lot less useful in my opinion, since we wouldn't be able to set it on a per-map basis. It can be useful to create a separate map for exporting to an image, and having it as a global property would unnecessarily affect all maps.

[2022-01-14 15:33] vanilla-lake commented on #769
FWIW, this seems to have been requested for some time in Mapbox GL's issue tracker: https://github.com/mapbox/mapbox-gl-js/issues/1953. Someone even proposed a similar solution: https://github.com/mapbox/mapbox-gl-js/issues/1953#issuecomment-561604595.

[2022-01-14 19:51] vanilla-lake commented on #769
Another possibility could be to have a global setting, but also allow it to be overridden on a per-map basis.

[2022-01-14 20:52] wipfli opened #777 "Version should be removed"
https://github.com/maplibre/maplibre-gl-js/blob/1e1469044b728df522a68886dc8a776c25f40238/src/index.ts#L191-L196

should be deleted, right?

[2022-01-14 20:54] wipfli opened #778 "`addProtocol` not on docs website"
The `addProtocol` function is not showing up on the docs website. I would expect to find it here:

https://maplibre.org/maplibre-gl-js-docs/api/properties/

together with the other things from `index.ts`.

[2022-01-15 05:31] HarelM commented on #777
Right

[2022-01-15 05:33] #777 closed

[2022-01-15 05:34] HarelM commented on #778
Fixed by #779

[2022-01-15 05:34] #778 closed

[2022-01-15 07:31] wipfli opened #780 "Automatic release note are wrong"
I just released `v2.0.1` by manual workflow trigger. This is how the Changelog looked like:

[code]

And this is what the release notes looked like:

[code]

[2022-01-15 07:35] wipfli commented on #780
https://github.com/maplibre/maplibre-gl-js/blob/main/build/release-notes.js is the script responsible for release notes generation

[2022-01-15 07:43] wipfli commented on #780
Related to https://github.com/maplibre/maplibre-gl-js/issues/412

[2022-01-15 12:50] HarelM commented on #776
I now see this too in my project.
As a workaround, you can set `skipLibCheck: true` in tsconfig.json file.
In order to truly fix this there's a need to follow the suggestions  described here:
https://github.com/timocov/dts-bundle-generator/issues/175#issuecomment-974640397
Unfortunately, I couldn't find the time lately to do it.
These are basically simple instructions on how to fix the generated d

[2022-01-15 16:30] aleksejleonov opened #783 "ReferenceError: AbortController is not defined in Chrome 65 (and earlier)"
**maplibre-gl-js version**: 2.0.0

**browser**: Chrome 65 (or earlier versions)

### Steps to Trigger Behavior

 1. Open https://maplibre.org/maplibre-gl-js-docs/example/simple-map/ in Chrome 65 (or earlier versions).

### Link to Demonstration

Tested with Browserstack.

**Chrome 65** (`ReferenceError: AbortController is not defined`)
<img width="1082" alt="Screenshot 2022-01-15 at 18 09 09" src=

[2022-01-15 16:34] HarelM commented on #783
Feel free to submit a PR although I don't a real reason to mention this, as you said, a version from 4 years ago...

[2022-01-15 18:58] aleksejleonov commented on #783
@HarelM , please check #784.

[2022-01-15 19:25] HarelM commented on #783
Resolved by #784

[2022-01-15 19:25] #783 closed

[2022-01-15 19:52] wipfli commented on #780
Maybe we could use a `.github/release.yml` file (https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes)

[2022-01-15 19:56] HarelM commented on #780
Whatever works for you... :-)

[2022-01-15 20:31] acalcutt commented on #783
Just an FYI for anyone interested, not to say anyone should do this.

I fixed this error in my [IE/ES5 release](https://github.com/acalcutt/maplibre-gl-js/tree/internetexplorer_test3) by adding the following to [src/util/ajax.ts](https://github.com/acalcutt/maplibre-gl-js/commit/6317485e0eaf9b6bee6a32373d53a349d0a6f0b0)

[code]

This basically adds support for fetch and abortcontroller in browsers

[2022-01-15 21:33] HarelM commented on #769
I see you point, both global and per map is a bit confusing I think.
I'll review the PR later this week.

[2022-01-16 01:38] Kanahiro commented on #768
Thank you good discussions. I have met same problem and found workaround.
This issue may be caused by nextjs SSR processes.

[code]

Avoid reference error by Dynamic Import.

[code]

It is good if this could help you.

[2022-01-16 01:42] Kanahiro commented on #768
or if you use href by <a> instead <NextLink>, try to use <NextLink>

[2022-01-16 13:04] lukashass opened #785 "Return type of map.getSource() does not allow type-safe access to source specific functions"
**maplibre-gl-js version**: 2.0.1

**browser**: -

### Steps to Trigger Behavior

 1. Try using `map.getSource("key").setData(...)` with a strict typescript config

### Link to Demonstration

https://codesandbox.io/s/beautiful-orla-djvjz?file=/src/index.ts

### Expected Behavior

There should be a way to call the source specific functions like `setData()` in a type-safe way.

### Actual Behavior

[2022-01-16 13:14] lukashass commented on #785
I'm currently trying to use [Type Guards](https://www.typescriptlang.org/docs/handbook/advanced-types.html#user-defined-type-guards) to solve this issue:

[code]

Though the problem with this is that `GeoJSONSource` and the other source types are not exported by maplibre.

Possible solutions I can think of would be:

- export source types so everyone can cast the return value or implement type gua

[2022-01-16 13:34] HarelM commented on #785
I've seen this issue too.
It was `any` before I changed it to `Source`.
Feel free to hack this and send a PR.
The main difficulty is the generation of the `.d.ts` file that is done using a third party tool.
See #776.
I don't have an objection to export the sources for better typings and casting...

[2022-01-16 19:29] wipfli commented on #776
I wrote a small example to reproduce these errors: https://github.com/wipfli/maplibre-typescript

This is a GitHub repo with a minimal TypeScript usage example. A GitHub workflow runs the TypeScript compiler, which fails with the following error message ([see workflow run](https://github.com/wipfli/maplibre-typescript/runs/4833794417?check_suite_focus=true)):

[code]

[2022-01-16 19:36] HarelM commented on #776
It's even easier than that.
Just remove the `--no-check` from the post-ts-build.js file and you'll get the errors in the console.
I'm looking into it right now.
It will require some changes in order to make the tool "happy".
I'll open a branch to allow contribution.

[2022-01-16 19:38] wipfli commented on #776
Good idea.

[2022-01-16 19:46] HarelM commented on #776
See branch ` 776-fix-typescript-typings`
The tool has issue with imports and exports that use `as` i.e. `export something as somethingelse`. I'll see if I can improve this in the branch...

[2022-01-16 19:54] wipfli commented on #776
Like these friends I guess...

https://github.com/maplibre/maplibre-gl-js/blob/a99adaab53478b456e75f082ac2707506058fa4f/src/data/array_types.ts#L1057-L1075

[2022-01-16 20:14] HarelM commented on #776
Yup.
Ok, I think I managed to follow most of the instructions in the tool thread linked above.
Below is the file generated from the tool.
Please let me know if this works, after that I can go back and improve the code.
[mplibre-gl.d.txt](https://github.com/maplibre/maplibre-gl-js/files/7877849/mplibre-gl.d.txt)
You can replace the d.ts file in the node_modules/maplibre-gl-js folder to see the effe

[2022-01-16 20:16] HarelM commented on #776
We might need to publish the missing packages to definitely types project as the PR in mapbox are not being merged... :-(

[2022-01-16 20:25] wipfli commented on #776
Beautiful @HarelM, so with the `d.ts` file you have above, the errors in the [workflow run](https://github.com/wipfli/maplibre-typescript/runs/4834024089?check_suite_focus=true) reduce to:

[code]

[2022-01-16 20:28] wipfli commented on #776
Or we create a fork of https://github.com/mapbox/vector-tile-js

[2022-01-16 20:29] HarelM commented on #776
ahh, wait, the tool didn't finished the run due to errors. let me try again...
How's this:
[mplibre-gl.d.txt](https://github.com/maplibre/maplibre-gl-js/files/7877875/mplibre-gl.d.txt)

[2022-01-16 20:30] HarelM commented on #776
GeoJSON error should be fixed by adding @types/geojson package I believe...?

[2022-01-16 20:31] wipfli commented on #776
I think you uploaded the same file again.

[2022-01-16 20:34] HarelM commented on #776
oh... yea... it has the same content.
Let me check this in my project as I think the file it OK now...

[2022-01-16 20:40] wipfli commented on #776
I can help with the failing unit tests. Can you open a pull request?

[2022-01-16 20:41] HarelM commented on #776
OK, so now the problem remains with the fact that `grid-index` and `@mapbox/vector-tile` packages are not typed and anyone that would like to use the types that are generated by this package will need to add their types which are not defined :-(

[2022-01-16 20:43] HarelM commented on #776
The branch is in this repo. Feel free to open a PR.

[2022-01-17 12:29] vanilla-lake commented on #769
Thank you!

[2022-01-17 19:03] acalcutt commented on #205
I made an attempt to make the attribution control more compliant with the "should be visible by default" requirement of openstreetmap with some changes to attribution_control.ts here ( https://github.com/acalcutt/maplibre-gl-js/blob/attribution_default_open_for_osm/src/ui/control/attribution_control.ts )

I made it so when the attribution goes to compact it defaults to being open.  I then used the

[2022-01-17 21:32] HarelM commented on #776
@RobinKamps can you check if the following file is good with angular 13?
[mplibre-gl.d.txt](https://github.com/maplibre/maplibre-gl-js/files/7884750/mplibre-gl.d.txt)
This is the final version of the file after all the changes in #787

[2022-01-18 07:40] RobinKamps commented on #776
It does work with Angular 13.
Thank you very much.

[2022-01-18 17:16] HarelM opened #788 "Remove vector-tile module declaration"
## Motivation

After fixing #787 I wanted to remove the not so optional solution with the vector tile typings I did.
@webberig will hopefully make a PR to definitely typed repo, after that the module declaration of mapbox vector tile can be removed from the code and the post build step.

This issue is to follow on the progress of this.

[2022-01-18 20:18] #776 closed

[2022-01-18 21:50] narvarjosh opened #790 "maplibre-gl.d.ts Syntax Error when using strict"
I just started trying to use `maplibre-gl` today, and was following along with this conversation because I was unsuccessful in compiling types: https://github.com/maplibre/maplibre-gl-js/pull/787. After seeing this resolved and `v2.0.2` published, I tried it myself but still am getting errors.

**maplibre-gl-js version**: v2.0.2

**browser**: N/A

### Steps to Trigger Behavior

 1. Include and imp

[2022-01-18 22:04] wipfli commented on #790
Thanks for reporting. My [debugging test repo](https://github.com/wipfli/maplibre-typescript/runs/4859914957?check_suite_focus=true) shows the same error with v2.0.2:

[code]

[2022-01-18 22:10] HarelM commented on #790
See if you can reproduce it in stackblitz.
It might be that you'll need a newer version of typescript...?

[2022-01-18 22:42] narvarjosh commented on #790
@HarelM Thanks for the suggestion! I do see it appears we would need a newer version of typescript. We're at `3.7.7`, and the syntax it's breaking on was added in `3.8`: https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html#type-only-imports-and-export.

I appreciate both your help.

[2022-01-18 22:45] HarelM commented on #790
No problem.
I'm still interested to know if someone was able to use version 2, with typescript and react/angular.
I'm trying to use it in my app but seems that is not smooth... :-/

[2022-01-18 22:45] vincent-lecrubier-skydio commented on #768
Solved it in Next JS by using `await import("maplibre-gl-js")` as @astridx @acalcutt [mentionned](https://github.com/maplibre/maplibre-gl-js/issues/768#issuecomment-1012515975) it's definitely caused by this line of code. This needs to be preceded by a check on `typeof window === "undefined"`

[2022-01-18 22:50] HarelM commented on #768
feel free to submit a PR in order to fix this. but since maplire-gl is mainly client side I guess you'll have more issues like that and I'm not sure solving them with "if not in client" will do the work... IDK.. just my 2 cents...

[2022-01-18 22:59] HarelM commented on #776
@RobinKamps I've published 2.0.2 please let me know if it works for you.

[2022-01-19 12:51] wipfli commented on #790
https://stackoverflow.com/questions/56238356/understanding-esmoduleinterop-in-tsconfig-file

[2022-01-19 12:53] wipfli commented on #790
I reopen because the errors I saw remain.

[2022-01-19 12:59] HarelM commented on #790
I think you need to add the flags described in the SO question.
Also you probably need to install @type/geojson - we should probably move this from devDependencies to dependencies like I did for pbf.
I've just upgraded my project to use maplibre 2.0.2 and I don't have compilation issues.
But feel free to fix this :-)

[2022-01-19 18:16] webberig commented on #788
PR created:
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/58320

ETA:

[2022-01-19 18:26] igalgh opened #793 "How to distinguish user-initiated map move events from events fired as a result of programmatic APIs?"
**maplibre-gl-js version**: (all)

### Question
I need a way to respond differently to map move/pan/pitch/bearing events depending on those events being a result of user-interaction or programmatic API calls.

Reasoning:
We have a special mode where map view changes which are a result of user interactions are written to the DB.
Map movements which is a result of API calls do not.

One way to imple

[2022-01-19 18:44] hheexx commented on #790
@HarelM  I have errors in angular also. Typescript 4.4

Error: node_modules/maplibre-gl/dist/maplibre-gl.d.ts:1:17 - error TS1259: Module '"/home/hex/xxx/ClientApp/node_modules/@types/pbf/index"' can only be default-imported using the 'allowSyntheticDefaultImports' flag

1     import type Pbf from 'pbf';
[code]
    This module is declared with using 'export =', and can only be used with a default

[2022-01-19 18:45] HarelM commented on #790
Does adding this flag in tsconfig solves the issue?

[2022-01-19 19:02] igal1c0de4n commented on #793
This problem is, the user has many ways to modify the maps. With the mouse, with touch, with keyboard (affecting pitch, bearing etc). It seems a little overwhelming to try and catch all of those different methods.
Also there's always the lingering "what if I missed an event?" concern, which even gets one to be weary about using new versions since those may have added events which aren't covered by

[2022-01-19 19:05] HarelM commented on #793
Yea, I can't argue here, but I think implementing is as brittle as using it for the same reasons :-)

[2022-01-19 19:16] igal1c0de4n commented on #793
IDK.
Zooming out on the subject, asking "Is the user responsible for this event?"
seems an important enough question to deserve a native answer

[2022-01-19 19:44] hheexx commented on #790
@HarelM skipLibCheck?   Yes, but then we are at same place as 2.0.1 :)

[2022-01-19 19:44] hheexx commented on #790
aha... allowSyntheticDefaultImports. Will try....

[2022-01-19 20:19] igal1c0de4n commented on #793
I wonder if I can rely on the existence of `originalEvent`, the first argument to the `moveend` callback.
It's missing if the the map view changes via API call, but it seems to be almost always there on events originating at user interaction except for the events originating at the bearing control widget

[2022-01-19 21:32] vanilla-lake opened #794 ""sourcedataloading" events are not always followed by "sourcedata" or "error" events"
**maplibre-gl-js version**: 1.15.2

### Steps to Trigger Behavior

 1. Move the map to a position A and wait for the tiles to load
 2. Move the map to a position B
 3. Before the tiles at position B finish loading, move back to position A

### Link to Demonstration

https://jsbin.com/zamemuyuxa/2/edit?html,console,output

### Expected Behavior

Every "sourcedataloading" event should be followed by

[2022-01-19 21:55] vanilla-lake commented on #794
The `sourcedataloading` event is fired here: https://github.com/maplibre/maplibre-gl-js/blob/9348083c88467ee36712dab059936fb6e6be2473/src/source/source_cache.ts#L732

Normally, the `sourcedata` or `error` events are fired from the `SourceCache#_tileLoaded` method passed as callback to   `SourceCache#_loadTile`. However, when `VectorTileSource#abortTile` is called, the callback is not fired.

I'll

[2022-01-20 08:43] wipfli commented on #790
I wanted to make a stackblitz to reproduce these errors, but everything looks OK in this MapLibre GL JS v2.0.2 + React + TypeScript example: https://stackblitz.com/edit/react-starter-typescript-qrj3qw?file=index.tsx

[2022-01-20 08:49] HarelM commented on #790
Yup. I believe the types are good.

[2022-01-20 10:32] RobinKamps commented on #776
2.0.2 is working fine.

[2022-01-20 10:45] ThibaudM commented on #790
I have tried to use the v2.0.2 dts file in the map-gl-indoor project (https://github.com/map-gl-indoor/map-gl-indoor/tree/feat/maplibre) but also encountered three TS errors.
[code]
Unfortunately, `skipLibCheck` cannot be used as a workaround here.
**typescript version:** 4.5.2

Let me know if you prefer I open another issue
Similar errors found here: #474

[2022-01-20 15:09] HarelM commented on #61
I've created a PR for this: #798

[2022-01-20 19:04] smellyshovel opened #799 "[TypeScript] Missing type declarations for the `setData` method of the `Source` type."
**maplibre-gl-js version**: 2.0.2

**browser**: -

### Steps to Trigger Behavior

 1. Invoke the `setData` method on a source obtained with `getSource`.

### Link to Demonstration

### Expected Behavior

Types for for the `setData` method should be declared.

### Actual Behavior

I couldn't find any mention of `setData` in `maplibre-gl.d.ts`.

![Screenshot_20220120_220426](https://user-images.gith

[2022-01-20 19:07] smellyshovel commented on #799
@HarelM seems so. Closing this one in favor of #785 then.

[2022-01-20 19:07] #799 closed

[2022-01-20 19:10] #61 closed

[2022-01-20 20:45] #715 closed

[2022-01-21 14:12] sebisteiner opened #801 "Module 'maplibre-gl' has no exported member 'GeoJSONSource'"
**maplibre-gl-js version**: 2.0.2

### Steps to Trigger Behavior

 1. `import {GeoJSONSource} from 'maplibre-gl';`

### Expected Behavior
`GeoJSONSource` type should be importable. As it was in v1.15.2.

### Actual Behavior
`Module 'maplibre-gl' has no exported member 'GeoJSONSource'`

[2022-01-21 14:32] HarelM commented on #801
I think there's an open PR on this that I didn't get an answer about the review I did...

[2022-01-21 15:11] sebisteiner commented on #801
Thank you, I just saw the PR: https://github.com/maplibre/maplibre-gl-js/pull/608

Do you think it could be merged?

[2022-01-21 15:35] astridx commented on #769
Is it ok if I close the issue because we have a PR:
https://github.com/maplibre/maplibre-gl-js/pull/772 ?
Then the conversation is in one place.

[2022-01-21 15:37] vanilla-lake commented on #769
@astridx That is fine with me.

[2022-01-21 15:38] #769 closed

[2022-01-21 18:27] #780 closed

[2022-01-21 18:49] HarelM commented on #801
I think this PR is not full. GeoJSON source is not the only one... This is why it's not merged.
Feel free to submit a fuller PR.

[2022-01-21 19:44] HarelM commented on #790
You can check out if #800 solves this, not sure, I'm not entirely sure what the problem is.
The definition file is correct as far as I know and understand.

[2022-01-21 19:45] HarelM commented on #54
@cigone-openindoor any updates on this?

[2022-01-21 19:53] clement-igonet commented on #54
No time, no need.
Thx

[2022-01-21 21:52] astridx commented on #458
Rules
-----

| Rule | Description | No/Yes | PR |
| --- | --- | --- | --- |
| [consistent-test-it](https://github.com/jest-community/eslint-plugin-jest/blob/main/docs/rules/consistent-test-it.md) | Have control over `test` and `it` usages | No |  |
| [expect-expect](https://github.com/jest-community/eslint-plugin-jest/blob/main/docs/rules/expect-expect.md) | Enforce assertion to be made in a test

[2022-01-22 09:00] wipfli opened #808 "`Point.convert()` with `{x: number, y: number}`"
The convert function of `@mapbox/point-geometry`:

https://github.com/mapbox/point-geometry/blob/bf471dc7ceb56299d4f5152c4badbeba193b0903/index.js#L304-L312

[code]

does not do the same as our v2.0.0 `convert` function that we made in the TypeScript migration:

[code]

With pull request #800, we roll back from our `Point` class to the mapbox one. Let's keep an eye on this change.

[2022-01-22 10:21] #788 closed

[2022-01-22 19:51] HarelM commented on #776
I'm not sure what I did wrong but it seems that version 2.0.3 is not working anymore although I think the typings there are correct and even better than 2.0.2.
If anyone has a clue what could've gone wrong it would help me a lot as I have not clue what could've caused this.
I'm getting the following error when I try to use 2.0.3 with ngx-maplibre-gl:
[code]
What I basically did between 2.0.2 and 2

[2022-01-22 20:05] HarelM commented on #776
Nevermind, I found the missing package.json file that for some reason was not published with 2.0.3... :-(

[2022-01-22 20:16] HarelM opened #811 "Missing `package.json` file in version 2.0.3 dist in npm"
I have no clue what could have caused this but the results are the following:
In version 2.0.3 there's a missing package.json file in the dist folder.
Can be easily seen using unpkg:
https://unpkg.com/browse/maplibre-gl@2.0.2/dist/maplibre-gl.js
This file is important for webpack to know how to read the maplibre-gl.js file.
Looking at the releases and in version 2.0.3 dist.zip in github the file i

[2022-01-22 21:46] #811 closed

[2022-01-22 22:01] wipfli commented on #811
![image](https://user-images.githubusercontent.com/53421382/150656802-eaa5fd34-f749-4587-bd52-ae925176568d.png)

seems good now

[2022-01-23 08:23] cioddi commented on #725
It looks like the Problem with the MapLibre example is, that it expects a valid geojson resource to be passed to the addSource call.
Once the data property value is changed to at least an empty FeatureCollection it works fine for me.

[code]

[2022-01-23 14:47] wipfli commented on #790
[code]
was produced with v2.0.4 and a minimal TypeScript `app.ts` which reads:

[code]

See [workflow run](https://github.com/wipfli/maplibre-typescript/runs/4913199673?check_suite_focus=true) in https://github.com/wipfli/maplibre-typescript

[2022-01-23 15:01] HarelM commented on #790
@wipfli can you try and add the `esModuleInterop` flag?

[2022-01-23 15:07] HarelM commented on #273
So how close are we to remove the `tap` dependency?
It would also be nice to get rid of `testem`, but that's a bit more problematic, we might consider moving it to a different issue.
We should also consider removing the render and query test infrastructure and use something else, I think, maybe even jest can do the trick, I don't know...
Feels like we are at the last strech when it comes to unit t

[2022-01-23 15:19] wipfli commented on #273
Only image_source is left on the unit test side of things.

[2022-01-23 15:21] wipfli commented on #790
This flag did not solve the problem for me.

[2022-01-23 18:54] birkskyum commented on #273
Only image_source (#732) and browser test (#810 ), then we can remove tap.

[2022-01-23 19:13] birkskyum commented on #273
For rendering tests, one option could be something like cypress. I'm sure there are other good tools out there, just wanted to put it on the table.

[2022-01-23 19:40] HarelM commented on #273
I would say that cypress should replace sellenium (browser) tests.
But I guess it can help with render tests as well.
Anything is better than this proprietary test harness...

[2022-01-23 22:45] jleedev opened #833 "showTileBoundaries fails to ignore raster sources as documented"
When I have a raster layer, `map.showTileBoundaries = true` is showing 0kb:

![Screenshot 2022-01-23 17 42 05](https://user-images.githubusercontent.com/23022/150700939-5b3c6d8f-e809-4024-898c-be8a0b8ed907.png)

But it is documented as:

Which means that it should be skipping the raster layer and showing the size of my vector source.

When I hide the raster layer with `map.setLayoutProperty('simpl

[2022-01-24 06:30] vittrup88 commented on #166
I defiantly get your point of having a single tile render.
I really would like to use this as a tile render for other mapping engines, in my case that would be Openlayers. It would just be great to use the native render from MapLibre directly in frontend.
My reason to do this in frontend is that I'm working on a analysis openlayers client and we have alot of diffrent filters and the user can filte

[2022-01-24 06:33] birkskyum commented on #273
Also, [playwright](https://playwright.dev/) seem to pick up tracktion in the e2e space.

[2022-01-24 06:56] davenquinn commented on #166
Hi @vittrup88  and thanks for the thoughts!

Just FYI, I have started working on this last month, taking the approach of the Land Technologies renderer, but trying to import current Maplibre code rather than forking. Right now it's still running on a fork, but I'm trying to keep it up to date with the rest of the codebase. See it here: https://github.com/davenquinn/maplibre-gl-js/tree/pluggable-re

[2022-01-24 07:20] HarelM commented on #273
Interesting, this is the first time I'm hearing about it.
Still a long way to go though, I would wait for it to gain more traction before using...
https://www.npmtrends.com/cypress-vs-playwright-vs-puppeteer
![image](https://user-images.githubusercontent.com/3269297/150738586-62df5419-6e2f-4ecd-a765-8d4e776aa0aa.png)

[2022-01-24 12:06] HarelM commented on #166
It's great to hear that you guys are working on that! Thanks for sharing.
I'm guessing that some of the problems that you might encounter are related to things that are concerning multiple tiles like collision detection.
I think a plugin for start would be great and then we can think if there's a way to incorporate this into MapLibre as a first class citizen.

[2022-01-24 12:08] vittrup88 commented on #166
Hi @davenquinn that sound really awesome. If I can help in any way I will try to.
I see your BasicPainter (same structure as Land Technologies). I don't see any example in the debug dir? Am I missing something?

You already have things rendering like polygon, line and Point I guess on your Cesium Example. Do you have example in your fork or should we make any?

Should we keep the discussion here o

[2022-01-24 12:14] vittrup88 commented on #166
Hi @HarelM
Do you know if anyone are working on Offscreen Canvas support ? This would also be a great option since this could remove problems with labeling. That way the Offscreen Render will just send an image back for display which will give nice rendering on zoom and labels. There is already an example at openlayers with Mapbox GL JS running in a native container but I really would like it to r

[2022-01-24 12:17] HarelM commented on #166
I'm not aware of anyone working on offscreen canvas support, but the best place to ask would be slack I think.

[2022-01-24 18:14] davenquinn commented on #166
Hi @vittrup88 sorry for the confusion. Right now all of the work to actually _use_  the renderer I have created is happening in another project: https://github.com/davenquinn/cesium-vector-provider. This one includes examples. Apologies are in order, though – I've sort of overloaded that repository currently with several submodules being developed in concert towards a virtual globe...so it is no l

[2022-01-24 19:29] zhangyiatmicrosoft opened #860 "if image is created with pixelRatio > 1, use it at run time as "fill-pattern" will cause flash"
**maplibre-gl-js version**:  2.0.1

**browser**: Chrome 97.0.4692.71

### Steps to Trigger Behavior

 1. addImage and set pixelRatio to a value > 1
 2. create a polygon with any other fill-pattern initially
 3. at run time switch the pattern in step 1 via setPaintProperty

### Link to Demonstration
https://jsbin.com/zogepuw/edit?html,js,output

### Expected Behavior
After 2 seconds, when swathes f

[2022-01-24 21:44] xabbu42 opened #861 "benchmarks_generated.js is not properly deployed on new releases"
I don't know what exactly went wrong but benchmarks_generated.js is missing for all 2.0.x releases.
This means that if you follow https://github.com/maplibre/maplibre-gl-js/blob/main/bench/README.md you get an empty page instead of running benchmarks, as https://maplibre.org/maplibre-gl-js/benchmarks/v2.0.5/benchmarks_generated.js does not exist.

[2022-01-24 21:48] xabbu42 commented on #861
@wipfli can you look into the github workflow which should generate and deploy this files?
I'll generate the missing files by hand and make a pull request to gh-pages to add them.

[2022-01-25 08:44] xabbu42 commented on #861
also the generated default BENCHMARK_VERSION is wrong for releases. either we adapt the default in package.json or we set the env variable explicitly in the workflow.

[2022-01-25 09:44] xabbu42 commented on #861
#863 adds the missing files for the already made releases. to close this issue we still need to fix the workflow to generate and deploy this files on a new release.

[2022-01-25 14:42] #273 closed

[2022-01-25 14:42] #458 closed

[2022-01-25 14:42] #651 closed

[2022-01-25 14:49] birkskyum commented on #464
@HarelM  I tried to run it just now:

npm run test-unit: 26.12 s
npm run test-unit -- --coverage:  95.894 s

[2022-01-25 14:51] HarelM commented on #464
I think it's worth the extra 1.5 minute. but we should publish it as part of the CI using a bot or something...?
We can probably publish it to codecov too as a different approach.

[2022-01-25 14:54] birkskyum commented on #464
I think it's worth it too, but I'm not familiar with codecov and how to set it up.

[2022-01-25 15:40] wipfli commented on #464
See #487

[2022-01-25 15:44] HarelM commented on #464
Can we try and revive this PR?

[2022-01-25 20:20] aapeliv opened #879 "Re-add ability to use Mapbox vector tiles"
## Motivation

We'd like to use Maplibre due to its open license and no-lockin (so we can in the future choose a different tile provider or produce our own), also the custom tile loading protocols (`addProtocol`) is super useful for us and we'd like to use that.

To take advantage of the new features and stay within the FOSS ecosystem, it'd be very useful to have a way to use `mapbox://` URLs or h

[2022-01-25 20:29] HarelM commented on #879
You can read more about it here:
https://github.com/maplibre/maplibre-gl-js/discussions/290
You are free to create a plugin that will support the `mapbox://` protocol (probably using addProtocol and some code from 1.15) and use it at your own risk or continue using version 1.15.
We have decided not to support a specific vender as part of this library.
You are also feel free to write a tutorial in

[2022-01-25 20:29] #879 closed

[2022-01-25 20:30] aapeliv commented on #879
Okay, thank you!

[2022-01-26 06:41] Nikkolast88 commented on #718
me too !

[2022-01-26 08:25] DartWelder commented on #801
The same crap with the Point object. But it works on version 2.0.2 and fails on 2.0.5

[2022-01-26 08:56] HarelM commented on #801
Crap is not an appropriate word...
Point object was moved to mapbox point-geometry package in 2.0.5, so you can use it from there.
If you don't like this library you don't have to use it, but please try not to insult the volunteering people who dedicate their free time to maintain it.
As I said in my previous comment, you are more than welcome to fix it and submit a PR...

[2022-01-26 09:04] DartWelder commented on #801
no no no, dude I didn't mean something offensive)

[2022-01-26 09:22] HarelM commented on #801
No worries :-) There's a problem between the generated types and what the package exposes due to how it is complied and packed into a UMD module. This is creating a lot of noise, Point is just one example, and GeoJSON is another.
If anyone has a good idea how to solve it I'd be very much interested to know. I found some hacks which I'm not very proud of, but they seem to allow working decently wit

[2022-01-26 11:42] MartinStefko commented on #725
Hi @cioddi , yes you are right, after the addition everything works like a charm! This really made my day! Thank you a lot! :)

[2022-01-26 13:43] cioddi commented on #725
@MartinStefko I have also created a MapComponents example for your use case.

https://codesandbox.io/s/mapcomponents-example-setdata-g3tgi

One thing I am not 100% happy with is the duplicate use of MlGeoJsonLayer with the same source. I have created an issue for that (https://github.com/mapcomponents/react-map-components-maplibre/issues/4).

Note that the MlGeoJsonLayer props geojson, paint and l

[2022-01-26 21:35] wipfli opened #891 "Update JSDoc comments"
Documentation of function signatures includes the types of the arguments. These type annotations are redundant in TypeScript and are not used by documentation.js, which we use to produce the docs website. I suggest we remove all JSDocs type annotations.

For example:

[code]

should be

[code]

[2022-01-27 05:36] HarelM commented on #891
Are you sure?
Can you update the documentation site to use 2.1.0? I've updated a jsdoc comment from object to an actual type in map cameraForBounds recently, I was wondering if this what will make the docs correct...

[2022-01-27 05:44] HarelM commented on #891
I have no clue for example why fitBounds is not accurate in the docs... Can you explain?

[2022-01-27 07:54] 1042041156 commented on #718
The above method can solve this problem

[2022-01-27 08:17] HarelM commented on #718
The above linked PR should solve this I assume, but we need someone to create a test to make sure this is actually solving the issue and making sure it won't break in the future.
Can any of you write a test? even here in this thread and I'll copy it to the relevant place in the tests.
Here are some instruction we wrote to help with writing tests:
https://github.com/maplibre/maplibre-gl-js/tree/mai

[2022-01-27 10:09] xabbu42 commented on #861
I think it would be better to build and deploy benchmarks_generated.js as part of the release workflow. this way we have a stronger guaranty that release and benchmarks_generated.js match exactly as we actually use the same checkout instead of relying on reproducible builds. @wipfli @HarelM What do you think?

[2022-01-27 11:15] HarelM commented on #861
I agree. I think the easiest solution would be to add it to the build process and add it to npm published files, but I'm not sure if it's possible to do it to already released versions...
Making sure it complies and wrapped in the npm package is easy...

[2022-01-27 21:19] wipfli commented on #891
For `fitBounds`, this is the source code:

[code]

and this is the documentation website:

![image](https://user-images.githubusercontent.com/53421382/151445222-f0f961c1-22f4-42f0-8ee0-f971ae4e4b18.png)

What is not accurate about it?

[2022-01-27 21:58] HarelM commented on #891
IDK, it was any when I looked at it, maybe a refresh was needed.
Also it needs to have `@link` now that I see that it's grayed out, but that's not related.
In any case, I trust you understand this more than I do, so just let me know what's the right way to go :-)

[2022-01-27 23:39] birkskyum commented on #891
Can we leverage the tsdoc format somehow?

[2022-01-28 10:04] birkskyum opened #908 "Flaky unit test for camera"
This test is flaky, and breaks our CI validation very often.

https://github.com/maplibre/maplibre-gl-js/blob/main/src/ui/camera.test.ts

[code]

The timeDiff is often 15 especially on mac, so it fails. I don't really understand this test tbh, so I would love if anyone could explain to me how we are testing that duration is reset to 0, and what that even means, because the timeDiff doesn't seem to

[2022-01-28 10:12] HarelM commented on #908
I have no clue... :-/

[2022-01-28 12:33] #908 closed

[2022-01-28 13:24] #861 closed

[2022-01-28 15:50] fungiboletus opened #916 "No compass in the navigation control"
![image](https://user-images.githubusercontent.com/45740/151578129-4edd0dc8-edc4-4849-99f5-a38f91939215.png)

**maplibre-gl-js version**: 2.1.0

**browser**: All

### Steps to Trigger Behavior

 1. Create a map with a navigation control and a compass.

### Expected Behavior

The navigation control should display a compass icon in the button.

### Actual Behavior

No icon is displayed.

### Potenti

[2022-01-28 20:09] wipfli commented on #891
I wonder how to best document string literal types in TypeScript? We introduced some in the TypeScript migration.

Related issue:

https://github.com/microsoft/TypeScript/issues/38106

[2022-01-28 20:14] wipfli commented on #891
@HarelM, things that are grayed out have no documentation comments. For example, the definition of  `FitBoundsOptions` has no a documentation comment:

https://github.com/maplibre/maplibre-gl-js/blob/3e23fbff1a6d748e4f502fd3a856f95473043494/src/ui/camera.ts#L90-L101

[2022-01-28 20:42] HarelM commented on #891
Ahh, interesting, thanks!

[2022-01-28 21:42] wipfli commented on #891
Google's TypeScript style guide also says to not document redundant types: https://google.github.io/styleguide/tsguide.html#omit-comments-that-are-redundant-with-typescript

[2022-01-29 07:48] wipfli commented on #891
I find it very confusing that JavaScript + JSDoc basically is TypeScript...

[2022-01-29 13:25] MartinStefko commented on #725
Thanks @cioddi, great example!

To duplicated layers, yes sure, having multiple layers inside one MlGeoJson layer would be great.

Or having layers data outside of component and map() over them could  also help. Is there anything not compatible with this approach?

And to make it really 1:1, there have to be some handler attached to the counter (or other solution), that's preventing the layer from

[2022-01-29 15:41] wipfli commented on #891
The docs website uses documentation.js to parse JSDoc comments in the MapLibre GL JS source code. After parsing, all information is written into a file called api.json. This is the responsible command in the docs repo:

https://github.com/maplibre/maplibre-gl-js-docs/blob/3fac88eb4456b2bce5b443e800e5906b9b20a97b/package.json#L71

Batfish, a Mapbox static site generator, consumes api.json and build

[2022-01-29 15:51] wipfli commented on #891
GL JS might benefit in the long run if we were to migrate the JSDoc comments to the TSDoc format. Currently, we have to manually sync the types in the docs to the source code types. This is error-prone and redundant. The migration to TypeScript #209 introduced many new types which miss documentation. For example, `MapOptions` is the argument type of the `Map` class constructor. While the class has

[2022-01-29 15:54] wipfli commented on #891
I think we should migrate from JSDoc to TSDoc comments, and replace documentation.js with TypeDoc. TypeDoc can output an api.json file, too. We would need to adapt the docs website to consume a differently organized api.json file.

[2022-01-29 16:03] HarelM commented on #891
Sounds like a good idea.

[2022-01-29 16:04] dechristopher commented on #644
Something like this would be useful for visualizing 3D paths as well. For example lines between two points in 3D space after #165 is implemented, or an implementation that allows for 3D measurement like Google Earth Pro does. There are many use cases like this and I think it would be a welcome addition from both GIS pros and users alike.

[2022-01-29 18:39] HarelM commented on #916
Thanks for taking the time to report this!
I don't think we changed much in this control lately, so this sounds like something that doesn't work for some time now.
Can you share a jsbin or something similar just to make sure it's not a problem with something else?

[2022-01-29 19:11] birkskyum commented on #891
@wipfli , it sure seems like the right thing to do long term. If this tsdoc .json file happen, I'd be happy to take a swing at adapting our docs. It would arguably also be healthy for us to migrate from these mapbox-only tools like batfish and jsxtreme to something more standardized - and it could be part of this too.

[2022-01-29 19:20] HarelM commented on #891
+1 for not using mapbox proprietary stuff.

[2022-01-29 19:46] HarelM commented on #916
I can't seems to be able to reproduce.
Please share the code that you are using.
The following is what I use with latest version and it seems to show the icon:
[code]
![image](https://user-images.githubusercontent.com/3269297/151675393-f6f1d3c7-4d65-4412-8886-668f2f9e3dda.png)

[2022-01-29 20:21] HarelM commented on #718
I've updated the tests to use tinySDF so I think the tests part is covered.
But when I surf to https://codepen.io/smellman/pen/dyVwjYm I don't see any console warning or errors.
What am I missing?

[2022-01-29 20:21] HarelM commented on #718
See #917

[2022-01-31 08:54] ThibaudM commented on #790
It does not work with #800 :(

The #800 added me these errors:
[code]
that can be fixed following the tips, but the three previous remain.

[2022-01-31 09:13] HarelM commented on #790
Please install latest version, I think this is now solved.

[2022-01-31 09:28] ThibaudM commented on #790
If the latest version is 2.1.1, it is the version which [the one I am testing right now](https://github.com/map-gl-indoor/map-gl-indoor/pull/12) for `map-gl-indoor`:
https://github.com/map-gl-indoor/map-gl-indoor/blob/feat/maplibre/package.json#L55
Errors from GitHub actions are the same as my local ones:
https://github.com/map-gl-indoor/map-gl-indoor/runs/5003560452?check_suite_focus=true

[2022-01-31 10:25] HarelM commented on #790
Bummer :-(
No clue what this error is and what causes this.
I've integrated `dts-bundle-generator` into this library to create the d.ts file as well, but since the library is compile to UMD and is compiling both worker code and browser code the generator has some issues with it so I can't use it without `--no-check`.
But when I'm generating the file I don't receive these errors.
I'd be happy to re

[2022-01-31 15:57] hheexx opened #920 "Supported browsers? Please add to readme."
I have some issues with safari 14. is it supported?

Error: out of range source coordinates for image copy
  at invoke(webpack:/./node_modules/maplibre-gl/dist/maplibre-gl.js:31:7831)

[2022-01-31 16:25] wipfli commented on #920
Thanks for reporting. Can you share a stackblitz?

[2022-01-31 23:34] j8seangel commented on #794
I'm facing the same issue and I've been using the `idle` event as a workaround so @vanilla-lake please let me know when you have the PR open. I will take a look at your solution and hopefully help you in any way.

I'd vote for having a new `sourcedataabort` which I find it easier to understand and use

[2022-02-01 22:06] #794 closed

[2022-02-01 22:18] j8seangel commented on #794
wow that was fast  🙇 🪄 ✨
amazing work @vanilla-lake and thanks!

[2022-02-02 10:12] xabbu42 commented on #920
Maybe a duplicate of #575?

[2022-02-02 10:33] #554 closed

[2022-02-02 10:35] HarelM commented on #554
@birkskyum thanks for pushing this forward!!

[2022-02-02 10:43] birkskyum commented on #554
Sure! I'm still trying to figure out how we can get the remaining integration tests modernized too and leaved test'em etc. behind for good.

[2022-02-02 12:15] vanilla-lake commented on #794
@j8seangel You are welcome! 😄

[2022-02-02 13:11] HaibaneReki opened #934 "Setting 'strict: true' in tsconfig breaks build in Angular"
**maplibre-gl-js version**: latest (2.1.1)

**browser**: irrelevant

### Steps to Trigger Behavior

1. Generate a clean angular project
[code]
2. add dependencies - include point-geometry and vector-tile as discussed in related issues
[code]
3. add dev dependencies
[code]
4. in AppComponent
[code]
5. install packages
[code]
6. set strict mode in tsconfig.json
[code]
7. serve
[code]

### Link to De

[2022-02-02 13:30] HarelM commented on #934
Seem like a duplicate of #790 (last comment and build error).
Any help to solve this would be extremely appreciated.
I'm closing this in favor of #790.

[2022-02-02 19:39] #272 closed

[2022-02-02 21:24] wipfli commented on #891
I am leaning towards using the existing documentationjs+jsdoc system and adding documentation to types which are not documented yet. Maybe this produces more redundancy than using tsdoc, but I think we can manage it. Rebuilding the docs website on typedoc's output seems to me a much larger task than aligning the existing framework to the changes of #209.